<div id="accordion">
<h1>
    Goal
</h1>

<div>
    <p>This assignment provides an illustration of PageRank algorithms and
        Hadoop. You will then blend these applications by implementing a parallel version of
        PageRank using the programming interfaces of the Hadoop MapReduce framework. </p>
</div>
<h2>What is PageRank?</h2>
<p>The web search engine is a typical distributed system on the Internet. It is designed to search
    for information on the World Wide Web. The search results are generally presented in a list of
    results and are often called hits. PageRank is a well-known web graph ranking algorithm that
    helps Internet users sort hits by their importance. <br/>
    PageRank calculates a numerical value for each element of a hyperlinked set of webpages, which
    reflects the probability that a random surfer will access that page. The process of PageRank can
    be understood as a Markov Chain [3] which requires iterative calculations to converge. An
    iteration of PageRank calculates the new access probability for each webpage based on values
    calculated in the previous iteration. The process will repeat until the number of current
    iterations is bigger than predefined maximum iterations, or the Euclidian distance between rank
    values in two subsequent iterations is less than a predefined threshold that controls the
    accuracy of the output results.  <br/>
<p align="center"><img src="assets/img/hw/se4/2.png" alt="" width="406" height="328"/><br/>
    <em>Fig</em><em>ure 2.</em>  Mathematical PageRank for a simple network in Wikipedia<br/></p>
Figure 2 shows a web graph consisting of  11 vertices {A, B, C, D, E, F, G1, G2, G3, G4, G5}. Each vertex refers to a unique  webpage, and the directed edge means there is one link from the source webpage  to the target webpage. The percentage on each vertex represents the rank value  of each webpage.</p>
<h3>Notes:</h3>
<p>You can implement a sequential PageRank that can run on desktops or laptops. But when processing
    larger input data, like web graphs containing more than a million webpages, you need to run the
    PageRank application in parallel so that it can aggregate the computing power of multiple
    compute nodes. Currently, in both industry and academia, the study of large-scale web or social
    graphs has become increasingly popular. In one published paper, the job execution engines that
    claim to support large-scale PageRank include: MPI, Hadoop, Dryad, Twister, Pregel.  <br/>
    Project #1 is divided into two parts. In the first part, you need to implement the sequential
    version of PageRank. In the second part, you will implement a parallel version of PageRank by
    using the programming interfaces of Hadoop MapReduce job execution engine. </p>
<h3>Formula</h3>
<p>Eqn.1 is the formula to calculate the rank value for each webpage. We will learn this formula by
    applying it to the case in Fig.1. There are 11 webpages in Fig.1, which include: {A, B, C, D, E,
    F, G1, G2, G3, G4, G5}. Assuming the probability distribution for a web surfer accessing all
    these 11 pages in current iteration is {PR(A), PR(B), PR(C),  … PR(G5)}, then the probability
    for the surfer to access Page B in the next iteration is:   <br/>
    PR(B)  =  PR(D)/2 + PR(E)/3 + PR(F)/2 + PR(C) + PR(G1)/2 + PR(G2)/2 + PR(G3)/2 <br/>
    In a general case, the PageRank value for any page <em>u</em> can be expressed as:<br/>
    Eqn.1:   <br/>
    The vertices seen in the right of the formula contain all the webpages that point to target
    webpage &lsquo;u&rsquo;. The L(v) refers to the out degree of each webpage in the vertices set.
    The initial rank values of each webpage, like PR&rsquo;(u), can be any double value. After
    several iteration calculations, the rank values converge to the stationary distribution
    regardless of what their initial values are.</p>
<h3>Damping factor</h3>
<p>The PageRank theory holds that even an imaginary surfer who is randomly clicking on links will
    eventually stop clicking. The probability, at any step, that the person will continue is a
    damping factor <strong>d</strong>. Various studies have tested different damping factors, but it
    is generally assumed that the damping factor will be around 0.85. The formula considering
    damping factor is shown in Eqn.2. N refers to the total number of unique urls. <br/>
    Eqn.2: </p>

<h1>
    Deliverables
</h1>

<div>
    <p>
        You are required to turn in the following items in a zip file (<strong>username_HadoopPageRank.zip</strong>)
        in this assignment:
    </p>
    <ol>
        <li>The source code of Hadoop PageRank you implemented.</li>
        <li>The executable class file and the README file that describes its
            usage.
        </li>
        <li>Technical report (<strong>username_HadoopPageRank_report.docx</strong>)
            that contains:
            <ol type="a">
                <li>The description of the main steps and data flow in your
                    program.
                </li>
                <li>The output file (<strong>username_HadoopPageRank_output.txt</strong>)
                    which contains the top 10 ranking url numbers.
                </li>
            </ol>
        </li>
    </ol>
    <p>Points will be reduced (maximum 0.5 points) if the filename or
        directory structure are different from instructed above.</p>
</div>

<h1>Evaluation</h1>

<div>
    <p>The point total for this project is 5, where the
        distribution is as follows:</p>
    <ol type="a">
        <li>Completeness of your code and output (3 points)</li>
        <li>Correctness of written report (1.5 points)</li>
        <li>Readability and clarity of README.txt (0.5 points)</li>
    </ol>
</div>

<h1>Introduction</h1>

<div>
    <p>In this project, we have provided a sketch code which contains three mapreduce jobs for you
        to implement:</p>
    <ol>
        <li>CreateGraph (done): add one column, 'initial pagerank value', to the input pagerank
            adjacency matrix (AM). Then pass it to the PageRank program to calculate the pagerank
            values.
        </li>
        <li><strong>PageRank</strong> (your implementation): take the transformed AM matrix and
            calculate pagerank values for all pages.
        </li>
        <li>Cleanup Results: remove the targetUrls column and output &lt;sourceUrl, pagerank value&gt;
            as the final result.
        </li>
    </ol>
    <p>The detail dataflow can be seen in Figure 1. Part 1 and Part 3 are given as full solutions in
        this pipeline; you will implement the 2nd part of <strong>PageRank</strong> program.</p>

    <p align="center"><img src="assets/img/hw/hadooppagerank/HadoopPageRank.png" alt=""
                           width="700"/></p>

    <p align="center">Figure 1. Hadoop PageRank dataflow</p>

    <p align="justify">Normally for any Hadoop MapReduce program, input data is uploaded and stored
        in the Hadoop Distributed File System (HDFS) before computation in order to generate &lt;key, value&gt;
        pairs to the mapper. Initially, the PageRank input data is stored in the format of adjacency
        matrix as a file(s) in the local file system. Then it will be uploaded to the HDFS and
        distributed across the compute nodes. Hadoop framework reads the application records from
        HDFS with the InputFormat interface and generates &lt;key, value&gt; pair input streams.
        Each Map function produces zero or more intermediate (key, value) pairs by consuming one
        input (key, value) pair. For this PageRank program,
        the map function applies the calculation PR(v) / L(V) to each &lt;key, value&gt; pair, where
        the key is the unique id or name of the webpage and the value contains the current rank
        value of the webpage and its out link information. Map tasks then generate intermediate
        (key, value) pairs, whose value is the partial rank value of every webpage. Each reduce task
        aggregates all the partial values of specific webpages by applying the provided Eqn.4. The
        aggregated global rank values are written back to HDFS, which in turn is used as input in
        the next set of iterations, if any. &quot;Hadoop - PageRank&quot; in Figure 1 shows an
        example for the PageRank data processing.</p>

    <p align="justify">Eqn.3: <img src="assets/img/hw/pagerank/eq1.png" width="150" height="20">
        <br/>
        Eqn.4: <img src="assets/img/hw/pagerank/eq2.png" width="242" height="37">
    </p>
</div>

<h1>Pseudocode for Hadoop PageRank</h1>


<div>
    <p>You need to complete two files in the provided pacakge inside &quot;indiana/cgl/hadoop/pagerank/&quot;:
        PageRankMap.java and PageRankReduce.java.
        Code snapshots are shown below.</p>

    <p>
        <br> <strong>PageRankMap.java and PageRankReducer.java</strong>
    </p>

    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow: auto; width: auto;">

        <script src="https://gist.github.com/cloudmooc/2e5c1b34e7701f5f9feb.js"></script>

    </div>

</div>
<h1>Edit</h1>

<p>The sketch code is stored within the provided <a
        href="homework?unit=0">VirtualBox image</a>
    [5]. Use Eclipse or linux text editor vi/vim to add your code.</p>

<div>
<pre>
$ cd /root/MoocHomeworks/HadoopPageRank/
$ vim src/indiana/cgl/hadoop/pagerank/PageRankMap.java
$ vim src/indiana/cgl/hadoop/pagerank/PageRankReduce.java
</pre>
    </div>
    <h2>Compile and run your code</h2>

    <p>Use the one-click script compileAndExecHadoopPageRank.sh provided below. Standard
        error messages such as &ldquo;compile errors, execution errors, etc.&rdquo; will be
        redirected on the screen. Debug them based on the returned messages.</p>

    <div>
<pre>
$ cd /root/MoocHomeworks/HadoopPageRank/

# usage: ./compileAndExecHadoopPageRank.sh [PageRank Input File][Number of Urls][Number Of Iterations]
$ ./compileAndExecHadoopPageRank.sh PageRankDataGenerator/pagerank5000g50.input.0 5000 1
</pre>
        </div>
        <h2>View the result</h2>

        <p>The result is generated as /root/hbaseMoocAntProject/output/project1.txt. </p>

        <div>
<pre>
$ cd /root/MoocHomeworks/HadoopPageRank/
$ cat output/*
</pre>
    </div>

</div>

