<div id="accordion">
<h1>
    Goal
</h1>

<div>
    <p>By this point you should have gone over the sections concerning PageRank algorithms and
        Hadoop. Now you are going to blend these applications by implementing a parallel version of
        PageRank using the programming interfaces of the Hadoop MapReduce framework. </p>
</div>

<h1>
    Deliverables
</h1>

<div>
    <p>
        You are required to turn in the following items in a zip file (<strong>username_HadoopPageRank.zip</strong>)
        in this assignment:
    </p>
    <ol>
        <li>The source code of Hadoop PageRank you implemented.</li>
        <li>The executable class file and the README file that describes its
            usage.
        </li>
        <li>Technical report (<strong>username_HadoopPageRank_report.docx</strong>)
            that contains:
            <ol type="a">
                <li>The description of the main steps and data flow in your
                    program.
                </li>
                <li>The output file (<strong>username_HadoopPageRank_output.txt</strong>)
                    which contains the top 10 ranking url numbers.
                </li>
            </ol>
        </li>
    </ol>
    <p>Points will be reduced (maximum 0.5 points) if the filename or
        directory structure are different from instructed above.</p>
</div>

<h1>Evaluation</h1>

<div>
    <p>The point total for this project is 5, where the
        distribution is as follows:</p>
    <ol type="a">
        <li>Completeness of your code and output (3 points)</li>
        <li>Correctness of written report (1.5 points)</li>
        <li>Readability and clarity of README.txt (0.5 points)</li>
    </ol>
</div>

<h1>Introduction</h1>

<div>
    <p>In this project, we have provided a sketch code which contains three mapreduce jobs for you
        to implement:</p>
    <ol>
        <li>CreateGraph (done): add one column, 'initial pagerank value', to the input pagerank
            adjacency matrix (AM). Then pass it to the PageRank program to calculate the pagerank
            values.
        </li>
        <li><strong>PageRank</strong> (your implementation): take the transformed AM matrix and
            calculate pagerank values for all pages.
        </li>
        <li>Cleanup Results: remove the targetUrls column and output &lt;sourceUrl, pagerank value&gt;
            as the final result.
        </li>
    </ol>
    <p>The detail dataflow can be seen in figure 1. Part 1 and Part 3 are given as full solutions in
        this pipeline; you will implement the 2nd part of <strong>PageRank</strong> program.</p>

    <p align="center"><img src="assets/img/hw/hadooppagerank/HadoopPageRank.png" alt=""
                           width="700"/></p>

    <p align="center">Figure 1. Hadoop PageRank dataflow</p>

    <p align="justify">Normally for any Hadoop MapReduce program, input data is uploaded and stored
        in the Hadoop Distributed File System (HDFS) before computation in order to generate &lt;key,value&gt;
        pairs to the mapper. Initially, the PageRank input data is stored in the format of adjacency
        matrix as a file(s) in the local file system. Then it will be uploaded to the HDFS and
        distributed across the compute nodes. Hadoop framework reads the application records from
        HDFS with the InputFormat interface and generates &lt;key, value&gt; pair input streams.
        Each Map function produces zero or more intermediate (key, value) pairs, by consuming one
        input (key, value) pair. For this PageRank program,
        the map function applies the calculation PR(v) / L(V) to each &lt;key, value&gt; pair, where
        the key is the unique id or name of the webpage and the value contains the current rank
        value of the webpage and its out link information. Map tasks then generate intermediate
        (key, value) pairs, whose value is the partial rank value of every webpage. Each reduce task
        aggregates all the partial values of specific webpages by applying the provided Eqn.2. The
        aggregated global rank values are written back to HDFS, which in turn is used as input in
        the next set of iterations, if any. &quot;Hadoop - PageRank&quot; in figure 1 shows an
        example for the PageRank data processing.</p>

    <p align="justify">Eqn.1: <img src="assets/img/hw/pagerank/eq1.png" width="150" height="20">
        <br/>
        Eqn.2: <img src="assets/img/hw/pagerank/eq2.png" width="242" height="37">
    </p>
</div>

<h1>Pseudocode for Hadoop PageRank</h1>


<div>
    <p>You need to complete two files in the provided pacakge inside &quot;indiana/cgl/hadoop/pagerank/&quot;:
        PageRankMap.java and PageRankReduce.java.
        Code snapshots are shown below.</p>

    <p>
        <br> <strong>PageRankMap.java and PageRankReducer.java</strong>
    </p>

    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow: auto; width: auto;">

        <script src="https://gist.github.com/cloudmooc/2e5c1b34e7701f5f9feb.js"></script>

    </div>

</div>
<h1>Edit</h1>

<p>The sketch code is stored within the provided <a
        href="homework?unit=0">VirtualBox image</a>
    [5]. Use Eclipse or linux text editor vi/vim to add your code.</p>

<div>
<pre>
$ cd /root/MoocHomeworks/HadoopPageRank/
$ vim src/indiana/cgl/hadoop/pagerank/PageRankMap.java
$ vim src/indiana/cgl/hadoop/pagerank/PageRankReduce.java
</pre>
    </div>
    <h2>Compile and run your code</h2>

    <p>Use the same one-click script compileAndExecHadoopPageRank.sh as in prior homework. Standard
        error messages such as &ldquo;compile errors, execution errors, etc.&rdquo; will be
        redirected on the screen. Debug it based on the returned messages.</p>

    <div>
<pre>
$ cd /root/MoocHomeworks/HadoopPageRank/

# usage: ./compileAndExecHadoopPageRank.sh [PageRank Input File][Number of Urls][Number Of Iterations]
$ ./compileAndExecHadoopPageRank.sh PageRankDataGenerator/pagerank5000g50.input.0 5000 1
</pre>
        </div>
        <h2>View the result</h2>

        <p>The result is generated as /root/hbaseMoocAntProject/output/project1.txt. </p>

        <div>
<pre>
$ cd /root/MoocHomeworks/HadoopPageRank/
$ cat output/*
</pre>
    </div>

</div>

