<h1>Goal</h1>
<p>Write an HBase FreqIndexBuilder program to build  an inverted index table which has the unique term&rsquo;s occurrences in all documents from the clueWeb09 dataset. Each row record of columnfamily &ldquo;frequencies&rdquo;  is unique, where the rowkey is the unique term stored in byte format, column  name is the documentId that contains this term, and value is the term  frequency shown per document. Note that each row has multiple columns. The  result must be loaded to HBase clueWeb09IndexTable. Figure 1 shows the schema of clueWeb09IndexTable.<br />
  </p>
  <p align="center"><img src="assets/img/hw/se3/1.png" alt="" width="624" height="108" /><br />
  Figure 1. clueWeb09IndexTable table schema for  storing term frequencies and their related documentId</p>
<h1>Deliverables </h1>
<ol type="a">
    <li>Complete source code</li>
    <li>A written report describing the main steps</li>
</ol>
<p>Zip your source code, results and report in  a file named username_project5.zip. Submit this file to the oncourse submission page. </p>
<h1>Evaluation</h1>
<div>
    <p>The point total for this project is 10, where the
        distribution is as follows:</p>
    <ol type="a">
        <li>Completeness of your code and output (8 points)</li>
        <li>Correctness of written report (2 points)</li>
    </ol>
</div>

<h1>Introduction </h1>
<p>Hbase FreqIndexBuilder [1] is an advanced  WordCount program which counts the number of occurrences of each word in a  given text input dataset and also stores the related document name (identification  number) as HBase inverted index records. These Inverted indices&nbsp;for text  data are built for supporting efficient searches in a huge set of text data.</p>
<h2>What is Inverted Index?</h2>
<p>Figure 2 shows an example of an inverted  index. For a given set of documents, each composed of a series of terms  (words), it records the following information: for each term, which subset of  documents contains it in their texts.</p>
<div align="center">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><br /><img src="assets/img/hw/se3/2.png" alt="" width="231" height="45" /></td>
    </tr>
    <tr>
      <td><p align="center">Figure 2. A sample inverted index</p></td>
    </tr>
  </table>
</div>
<p>To build these  inverted indices, we reuse the ClueWeb09 dataset from before [2]. New  inverted index table schemas are designed as shown in Figure 1.<br />
  In the clueWeb09IndexTable table each term  will have the same structure, with term as rowkey, values contained in documentId,  and the occurrence of the term within this document shown. Our goal is to write  an HBase program which generates an inverted index table by extracting the  information from the ClueWeb09 dataset. </p>
<h2>Mapper and  Main Program </h2>
<p>Now we are going to implement the HBase FreqIndexBuilder  program. As opposed to WordCount [3], our implementation only consists  of two main parts:</p>
<ul>
  <li>Mapper</li>
  <li>Main  program</li>
</ul>
<p>This type of application is called &ldquo;Map-Only&rdquo;  parallel application.</p>
<h3>Mapper</h3>
<p>A Mapper overrides the &ldquo;map&rdquo; function from  the Class &quot;org.apache.hadoop.hbase.mapreduce.TableMapper&lt;Text,  LongWritable&gt;&quot;, which provides &lt;key, value&gt; pairs as the input. A  Mapper implementation may output &lt;key, value&gt; pairs using the provided  Context.<br />
  &lt;key, value&gt; of this map function is  &lt;rowkey, content&gt;,  where the key  is the rowkey of an HBase record related to a specified URI, and the content is  the stored text of that URI. Your Map task should output &lt;word, &lt;docId, frequency&gt;&gt;  for each word in the content of text.<br />
  <em>Pseudocode</em></p>
<div>
            <pre>
void Map (key, value){
    for each word x in the content of a hbase record:
    context.write(x, <docId, frequency>);
}
            </pre>
  </div>
<p><em>Detail implementation</em></p>

<div>
    <script src="https://gist.github.com/cloudmooc/6235296.js"></script>
</div>

<h3>Main program </h3>
<p>Again, the main function has been provided as  standard initialization, and you may modify it to fit your own style. See the examples of using TableMapReduceUtil.initTableMapperJob  and TableMapReduceUtil.initTableReducerJob [4].</p>
<h1>Edit, compile  and run your code</h1>
<p>The sketch code is  stored within the provided VirtualBox image. You can use linux text editor vi/vim to  add your code.</p>
<div>
<pre>
$ cd /root/MoocHomeworks/HBaseInvertedIndexing/
$ vim src/iu/pti/hbaseapp/clueweb09/FreqIndexBuilderClueWeb09.java
</pre>
  </div>
<div class="dp-highlighter">
<pre>
$ cd /root/MoocHomeworks/HBaseInvertedIndexing/
$ ./compileAndExecFreqIndexBuilderClueWeb.sh
</pre>
  </div>
<h2>View the result</h2>
<p>The result is  generated as /root/hbaseMoocAntProject/output/project2.txt. </p>
<div>
<pre>
$ cd /root/MoocHomeworks/HBaseInvertedIndexing/
$ cat output/project2.txt
</pre>
  </div>
<h1>References</h1>
<ol>
  <li>salsaHPC  IndexedHBase Project: <a href="http://salsaproj.indiana.edu/IndexedHBase/index.html">http://salsaproj.indiana.edu/IndexedHBase/index.html</a></li>
  <li>Clueweb09  project and dataset: <a href="http://lemurproject.org/clueweb09/">http://lemurproject.org/clueweb09/</a></li>
  <li>Cloud Mooc Homework 3 - Hadoop WordCount: <a href="http://cloudmooc.appspot.com/homework?unit=3">http://cloudmooc.appspot.com/homework?unit=3</a></li>
  <li>HBase MapReduce Examples: <a href="http://hbase.apache.org/book/mapreduce.example.html">http://hbase.apache.org/book/mapreduce.example.html</a></li>
</ol>
