<div id="accordion">
    <h2>Goal</h2>
    <div>
        <p>The goal of this assignment is to implement the parallel Pagerank algorithm using MPI.</p>
    </div>

    <h1>
        Deliverables
    </h1>
    <div>
        <p>
            You are required to turn in the following items in a zip file:
        </p>
        <ol>
            <li>The source code of parallel PageRank you implemented.</li>
            <li>The executable class file and the README file that describes its
                usage.</li>
            <li>Technical report that contains:
                <ol type="a">
                    <li>The description of the main steps and data flow in your
                        program.</li>
                    <li>The output file (<strong>pagerank_output.txt</strong>)
                        which contains the top 10 ranking url numbers.
                    </li>
                </ol>
            </li>
        </ol>
        <p>
            Note that this document only provides MPI C/C++ instructions. If you
            prefer or know MPJExpress <a href="http://mpj-express.org/">http://mpj-express.org/</a>,
            please feel free to implement it.
        </p>
        <p>Points will be reduced (maximum 0.5 points) if the filename or
            directory structure are different from instructed above.</p>
    </div>

    <h2>Evaluation</h2>
    <div>
        <p>The point total for this project is 5, where the distribution is as follows:</p>
        <ol type="a">
            <li>Completeness of your code and output (3 points)</li>
            <li>Correctness of written report (1.5 points)</li>
            <li>Readability and clarity of README.txt (0.5 points)</li>
        </ol>
    </div>

	<h1>Introduction</h1>
	<div>
		<p>In this second part of our PageRank homework, you will implement a parallel
			version of PageRank by using MPI programming interface. We provide a
			pseudocode for MPI PageRank and you will have to complete the
			implementation based on this to make a working version. We provide 
			functions for file IO so that you can focus on main
			implementation only. For more details on the PageRank algorithm, 
			refer to the previous descriptions for Homework 3.</p>

		<p>
			<strong>Parallel PageRank</strong>
		</p>
		<p>Developing parallel PageRank is an active research area for
			both industry and academia, and numerous algorithms have been
			proposed. The key idea is to
			partition PageRank problems into N sub-problems so that N processors
			solve each sub-problem concurrently. One of the simplest approaches in
			partitioning is vertex-centric. The graph can
			be divided into groups of vertices and each group will be handled
			by a processor. We take this approach for our MPI PageRank
			implementation.</p>
	</div>

	<h1>Pseudocode for MPI PageRank</h1>




	<div>
		<p>You need to complete two files: mpi_main.c and mpi_pagerank.c.
			Pseudocodes are as follows:</p>
		<p>
			<br> <strong>mpi_main.c & mpi_pagerank.c</strong>
		</p>
        <script src="https://gist.github.com/cloudmooc/6272489.js"></script>
	<h1>FILE IO functions</h1>
	<div>
		<p>Besides pseudocodes, we provide two MPI functions (mpi_read
			and mpi_write) for file reading and writing. This is so you can simply
			call them without re-implementation.</p>
		<p>
			<strong>mpi_read </strong>
		</p>
		<p>This function is to read an adjacency matrix file and assign a
			local matrix to each process. After this call each process will have
			its own adjacency matrix, and therefore each should call this
			function. The following is a signature of mpi_read function:</p>

		<!-- HTML generated using hilite.me -->
		<div
			style="background: #ffffff; overflow: auto; width: auto;">
			<pre style="margin: 0; line-height: 125%">
				<span style="color: #808080">/*  </span>
<span style="color: #808080"> * Read an adjacency matrix file and assign a local matrix to each process </span>
<span style="color: #808080"> * Note </span>
<span style="color: #808080"> * -. After this call, each process will have its own adjacency matrix </span>
<span style="color: #808080"> * -. Each process will have roughly eqaul amount of number of urls </span>
<span style="color: #808080"> */</span>  
<span style="color: #303090; font-weight: bold">int</span> mpi_read(<span
					style="color: #303090; font-weight: bold">char</span> <span
					style="color: #303030">*</span>filename,    <span
					style="color: #808080">/* (IN) file name */</span> 
             <span style="color: #303090; font-weight: bold">int</span> <span
					style="color: #303030">*</span>numUrls,      <span
					style="color: #808080">/* (OUT) number of urls assigned to local machine */</span> 
             <span style="color: #303090; font-weight: bold">int</span> <span
					style="color: #303030">***</span>am_index,   <span
					style="color: #808080">/* (OUT) index array for adjacency matrix, assigned to local machine */</span> 
             <span style="color: #303090; font-weight: bold">int</span> <span
					style="color: #303030">**</span>adjacency_matrix,    <span
					style="color: #808080">/* (OUT) adjacency matrix assigned to local machine */</span> 
             MPI_Comm comm);    <span style="color: #808080">/* (IN) MPI communicator */</span> 
</pre>
		</div>


		<p>
			<br>
			<strong>mpi_write </strong>
		</p>
		<p>This function is for saving rank values to a file. We assume
			rank values are synchronized through all processes, therefore it
			doesn&#8217;t matter which process you choose to write. In this function, 
			we simply have root (rank 0) processes to write rank values to a file.</p>

		<!-- HTML generated using hilite.me -->
		<div
			style="background: #ffffff; overflow: auto; width: auto;">
			<pre style="margin: 0; line-height: 125%">
				<span style="color: #808080">/*  </span>
<span style="color: #808080"> * Save rank_values_table[] to a file </span>
<span style="color: #808080"> * Note </span>
<span style="color: #808080"> * -. Only root (rank 0) will save rank values to a file </span>
<span style="color: #808080"> * -. Assume rank_values_table[] are the same across all proc  </span>
<span style="color: #808080"> */</span> 
<span style="color: #303090; font-weight: bold">int</span> mpi_write(<span
					style="color: #303090; font-weight: bold">char</span> <span
					style="color: #303030">*</span>filename,   <span
					style="color: #808080">/* (IN) file name */</span> 
              <span style="color: #303090; font-weight: bold">int</span> totalNumUrls, <span
					style="color: #808080">/* (IN) number of total urls */</span> 
              <span style="color: #303090; font-weight: bold">double</span> <span
					style="color: #303030">*</span>rank_values_table,  <span
					style="color: #808080">/* (IN) array of rank values. double[total_num_urls] */</span> 
              MPI_Comm comm);   <span style="color: #808080">/* (IN) MPI communicator */</span> 
</pre>
		</div>

	</div>

	<h1>Compile guide</h1>
	<div>
		<p>Instructions for compiling and a recommended execution guide are
			as follow. We assume you are using the Virtual Machine we've provided for compiling and running the code.</p>
		<p>
			<strong>Step one: Compile </strong>
		</p>
		<pre>
$ make clean
$ make
</pre>
		<p>You will see an executable &#8220;mpi_main&#8221; in the
			directory.</p>
		<p>
			<strong>Step two: Execution </strong>
		</p>
		<p>The executable you need to make should take a few parameters as
			an input. Most importantly we should be able to specify input file by
			using &#8220;-i&#8221; option and the number of iterations by using
			&#8220;-n&#8221; option. The full list of options you need to
			implement is as follows:</p>
		<pre>
$ mpi_main -h 
Usage: mpi_main -i filename -n num_iterations 
       -i filename    : adjacency matrix input file 
       -n num_iterations: number of iterations 
       -t threshold   : threshold value (default 0.0010) 
       -o             : output timing results (default yes) 
       -d             : enable debug mode 
       -h             : print help information 
		</pre>

		<p>
			To run &#8220;mpi_main&#8221;, you need to use an MPI command called
			&#8220;mpirun&#8221;. For example, to process
			&#8220;pagerank.input1&#8221; file (included as a sample input) by
			using 2 processes concurrently, you can type the following commands:
			<br /> <br />
		</p>
		<pre>$ mpirun -np 2 mpi_main -i pagerank.input1 -n 10 -t 0.001</pre>
		<p>
			<br /> Below is an example of MPI PageRank execution. <br />
			<br />
		</p>
		<pre>
max_iterations=10, threshold=0.001000000 
  ->cur_iteration=0 delta=0.137787065 
  ->cur_iteration=1 delta=0.101166196 
  ->cur_iteration=2 delta=0.033934278 
  ->cur_iteration=3 delta=0.026608634 
  ->cur_iteration=4 delta=0.018108631 
  ->cur_iteration=5 delta=0.014472174 
  ->cur_iteration=6 delta=0.010200567 
  ->cur_iteration=7 delta=0.007725284 
  ->cur_iteration=8 delta=0.005532020 
  ->cur_iteration=9 delta=0.004065336 
  ->cur_iteration=10 delta=0.002924901 
Proc:0 is writing rank values of 11 urls to file pagerank.output 
 
  **** MPI PageRank **** 
Num of processes   = 2 
Input file         = pagerank.input 
totalNumUrls       = 11 
num_itertaions     = 10 
threshold          = 0.001000000 
I/O time           =     0.4031 sec 
Computation timing =     0.0002 sec 	
		</pre>
		</div>

	</div>
