<h1>Goal</h1>
<p>After having familiarized yourself with the Building an Inverted Index homework and PageRank algorithms homework, you are ready to use these applications to test the search engine function from the packaged executable.</p>
<h1>Deliverables </h1>
<p>Zip your source code, library, and results in a file named username@test-search-engine.zip and submit this file to the Oncourse Assignments page.</p>
<h1>Evaluation</h1>
        <div>
<p>The point total for this project is 20, where the
    distribution is as follows:</p>
<ol type="a">
    <li>Completeness of your code (16 points)</li>
    <li>Correct output (4 points)</li>
</ol>
        </div>
        <h2>Video</h2>
    <div>
        <iframe width="560" height="315" src="//www.youtube.com/embed/a_4cYG87P6M" frameborder="0" allowfullscreen></iframe>
	</div>

<h1>Search Engine Implementation</h1>
<p>Before we test the search engine, we need to write the PageRank output to the HBase
    clueWeb09PageRankTable.</p>

<div>
<pre>
# Load the pagerank result to hbase &ldquo;clueWeb09PageRankTable&rdquo;<br/>
<span style="overflow: auto; width: auto;">export HADOOP_CLASSPATH=`/root/software/hbase-0.94.7/bin/hbase classpath`</span>

hadoop jar /root/software/hadoop-1.1.2/lib/cglHBaseMooc.jar  iu.pti.hbaseapp.clueweb09.PageRankTableLoader  /root/MoocHomeworks/HBaseInvertedIndexing/resources/en0000-01and02.docToNodeIdx.txt  /root/MoocHomeworks/HBaseInvertedIndexing/resources/en0000-01and02_reset_idx_and_square_pagerank.out
</pre>
</div>
<p>Now, combined with &quot;Building an Inverted Index&quot;, we have built three database tables on HBase:</p>
<ul>
  <li>clueWeb09DataTable</li>
    <li>clueWeb09IndexTable</li>
    <li>clueWeb09PageRankTable</li>
</ul>
<p>The data-flow of the program is shown in Figure 1.<br/></p>

<p align="center"><img src="assets/img/hw/se4/6.png" alt="" width="365" height="277"/><br/>
    <em>Figure 1</em>. Dataflow for searching keyword &ldquo;database&rdquo; among the
    constructed databases</p>
<p>You need to complete the following code before you can run the search engine:</p>
<div>
<pre>
$ vim src/iu/pti/hbaseapp/clueweb09/SearchEngineTester.java
</pre>
</div>
<script src="https://gist.github.com/cloudmooc/8359771.js"></script>
<div>
<h3>Compile and Run the Program</h3>
    <div>
<pre>
$ cd /root/MoocHomeworks/HBaseInvertedIndexing/
$ vim src/iu/pti/hbaseapp/clueweb09/SearchEngineTester.java
</pre>
    </div>
    <div class="dp-highlighter">
<pre>
$ cd /root/MoocHomeworks/HBaseInvertedIndexing/
$ ant
$ cp /root/MoocHomeworks/HBaseInvertedIndexing/dist/lib/cglHBaseMooc.jar /root/software/hadoop-1.1.2/lib/</pre>
    </div>
    <p>Now you can test the functionality of the search engine by running the program with keywords.</p>
<pre>
# Test search engine functionality
cd /root/software/hadoop-1.1.2/
./bin/hadoop jar lib/cglHBaseMooc.jar  iu.pti.hbaseapp.clueweb09.SearchEngineTester search-keyword snapshot
./bin/hadoop jar lib/cglHBaseMooc.jar  iu.pti.hbaseapp.clueweb09.SearchEngineTester get-page-snapshot 00000113548 |  grep snapshot
</pre>
</div>
<h1>What&rsquo;s next?</h1>

<p>Congratulations, you have finished the search engine project!</p>
