<h3>Goal</h3>
<div>
    <p>The Goal of this Lab is to prepare the environment required for all the homework assignments.
        Also this lab describes the homework environment so that the student can get familiar with it.</p>
</div>

<h3>Deliverables</h3>
<div>
    <p>None</p>
</div>

<h3>Introduction</h3>
<div>
    <p>This course has homework ranging from configuration of the environment and various tools to writing advanced programs.
        The homework is packaged in a virtual machine to allow students focus on the specific tasks rather than focusing on
        things like environment setup which can be complicated in distributed systems.</p>
    <p>As mentioned above the homework is packaged in a virtual machine and the student is expected to download this virtual machine and install it on their home computers.</p>
</div>

<h3>Installing the Virtual Machine</h3>
<div>
    <p>First thing is to install VirtualBox to run the virtual machine.</p>
    <p>Download the latest version of the VirtualBox and install it on your local machine: <a
                href="https://www.virtualbox.org/wiki/Downloads">VirtualBox downloads</a>.
    </p>
    <p>After downloading the VirtualBox and installing it you need to download the Virtual Machine Image</p>
    <p>Download the prepackaged appliance from this <a
                href="http://cloudmooc.soic.indiana.edu:10002/mooc-ubuntu1204.ova">link</a>.
    </p>
</div>

<h3>Running the Virtual Machine</h3>
<div>
    <p>Start the VirtualBox and go to menu File -> Import Appliance</p>
    <p>Select the downloaded Virtual Machine image and import it to the VirtualBox</p>
    <p>After the import is successful you can start the virtual machine</p>
</div>

<h3>Logging in to the Virtual Machine</h3>
<div>
    <p>The virtual machine is password protected. You can log in to it using the credentials</p>
    <table>
        <tr>
            <td>Username</td>
            <td>summer</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>school2012</td>
        </tr>
    </table>
    <p>If you have trouble accessing or using the VM, please post a message to the forum so the staff or your classmates can respond.</p>
</div>

<h3>File structure</h3>
<div>
    <p>All the files related to homework are on the /root directory of the machine</p>
    <p>Here is a description of the files in the homework</p>
    <table>
        <tr>
            <td>MoocHomeworks</td>
            <td>This folder contains all the homework material</td>
        </tr>
        <tr>
            <td>data</td>
            <td>Contains data required by the homework</td>
        </tr>
        <tr>
            <td>software</td>
            <td>Contain the software required by the homework</td>
        </tr>
    </table>
    <p>Different homework will give a detailed description about the files required</p>
</div>

<h3>Development Environment</h3>
<div>
    <p>The students are expected to complete the homework using the Java programming language.</p>
    <p>We have installed Eclipse IDE in the Virtual machine for the development purposes.
        Students can use the Eclipse IDE or use another editor like VIM, gEdit for editing the programs.
    </p>
</div>

<h3>Compiling & Running the Homework</h3>
<div>
    <p>The homework uses Ant build system to compile and package the homework. Most of the
        homework have a build.sh file that will assist the student to compile the program.</p>
</div>



