<h3>Goal</h3>
<div>
    <p>The goal of this lab is to prepare the environment required for all subsequent homework assignments.
        This will also permit you to become familiar with the basic homework setup.</p>
</div>

<h3>Deliverables</h3>
<div>
    <p>None</p>
</div>

<h3>Introduction</h3>
<div>
    <p>This course has homework covering a wide range of topics, from configuration of the environment and various tools to writing advanced programs.
        It all comes packaged in a virtual machine to allow students to focus on specific tasks instead of
        environment setup, which can be complicated in distributed systems. You are expected to download the provided virtual machine and install it on your own computer.</p>
</div>

<h3>Video</h3>
<div>
    <iframe width="560" height="315" src="//www.youtube.com/embed/3kGGuHjsNoY" frameborder="0" allowfullscreen></iframe>
</div>

<h3>Installing the Virtual Machine</h3>
<div>
    <p>First off you will need VirtualBox to run the virtual machine. Download the latest version of the VirtualBox and install it on your local machine: <a
                href="https://www.virtualbox.org/wiki/Downloads">VirtualBox downloads</a>.
    </p>
    <p>Afterwards you need to download the Virtual Machine Image from this 
    <a href="http://cloudmooc.soic.indiana.edu:10002/mooc-ubuntu1204.ova">link</a>.
    </p>
</div>

<h3>Running the Virtual Machine</h3>
<div>
    <p>Start the VirtualBox and go to menu File -> Import Appliance. Select the downloaded Virtual Machine image and import it to the VirtualBox. After the import is successful you can start the virtual machine.</p>
</div>

<h3>Logging in to the Virtual Machine</h3>
<div>
    <p>The virtual machine is password protected. You can log in using the credentials:</p>
    <table>
        <tr>
            <td>Username</td>
            <td>summer</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>school2012</td>
        </tr>
    </table>
    <p>If you have trouble accessing or using the VM, please post a message to the forum so the staff or your classmates can respond.</p>
</div>

<h3>File structure</h3>
<div>
    <p>All the files related to homework can be found on the /root directory of the machine:</p>
    <table>
        <tr>
            <td>MoocHomeworks</td>
            <td>This folder contains all the homework material</td>
        </tr>
        <tr>
            <td>software</td>
            <td>Contains the software required by the homework</td>
        </tr>
    </table>
    <p>Later homework will give a detailed description about the files required.</p>
</div>

<h3>Development Environment</h3>
<div>
    <p>Students are expected to complete the homework using Java programming language. We have installed Eclipse IDE in the Virtual machine for the purpose of development.
        You can either use this or another product like VIM and gEdit for editing the programs.
    </p>
</div>

<h3>Compiling & Running the Homework</h3>
<div>
    <p>The homework uses Ant build system to compile and package itself. Most have 
    a build.sh file that will assist you in compiling the program.</p>
</div>

<h3>Copy files between VM and Local Machine</h3>
<div>
    <p>Some homework requires copying files between the VM and the local machine. To do this you need to create a shared folder between the host and the guest VM</p>
    <ol>
        <li>You need to install Guest Additions for the VM first. To do this, start the VM and from the VirtualBox "Devices" menu select "Insert Guest Additions CD Image" menu item and follow the instructions.</li>
        <li>After this shutdown the VM and Go to Settings->Shared Folders of virtual machine</li>
        <li>Add a new shared folder. Choose a folder from the host machine and give a name to the shared folder, for example myfiles</li>
        <li>Now boot the VM and go to the command line</li>
        <li>Create a folder to mount the shared folder, for example the folder is "share" created in the home directory, i.e mkdir ~/share</li>
        <li>Now mount using the following command</li>
        <li>sudo mount -t vboxsf myfiles ~/share</li>
        <li>When asked for the password, give school2012</li>
    </ol>
    <p>More information can be found in the <a href="https://www.virtualbox.org/manual/ch04.html#sharedfolders">VirtualBox documentation</a>.</p>
</div>




