<h1>Goal</h1>
<p>Write a Twister program to calculate PageRank values for the clueWeb09 dataset. These values will
    be written to an HBase clueWeb09PageRankTable table by a provided java uploader.    <br/>
    Each row record of columnfamily &ldquo;pagerank&rdquo; is unique, where the rowkey is the unique
    documentId stored in byte format, column name is the pagerank value of that document, and the
    value is NULL. Figure 1 shows the data structure of clueWeb09PageRankTable.</p>
<p align="center"><img src="assets/img/hw/se4/1.png" alt="" width="231" height="116"/><br/>
    <em>Figure 1.</em> clueWeb09PageRankTable table schema for storing ranks of webpages<br/></p>
<h1>Deliverables </h1>
<p>Zip your source code, library, and results in a file named <a
        href="mailto:e-mailBefore@-hbase-wordcount-proj3.zip"><em>e-mailBefore@</em>-hbase-wordcount-proj3.zip</a>,
    where <em>e-mailBefore@</em> should be replaced by your e-mail account username. Please submit
    this file to the MOOC submission page. </p>
<h1>Evaluation</h1>
<div>
    <p>The point total for this project is 5, where the
        distribution is as follows:</p>
    <ol type="a">
        <li>Completeness of your code and output (3 points)</li>
        <li>Correctness of written report (1.5 points)</li>
        <li>Readability and clarity of README.txt (0.5 points)</li>
    </ol>
</div>

<h1>Introduction </h1>
<p>This project reveals the technologies behind modern search engines like Google Search, Bing
    Search and Yahoo Search [1]. In Homework #7 you built inverted indices for the clueweb09 [2] data,
    and stored the indices with HBase. This homework provides the function to locate a keyword among a set of
    text-based documents. However, to better serve a search query, we need to calculate a ranking
    value (PageRank) of each document to optimize the search results. <br/>
    In this project we will go through a Twister PageRank implementation.
</p>
<h2>What is Twister?</h2>
<p>Twister MapReduce Framework [4] is a Java implementation of the MapReduce programming model with
    extended features such as supporting Iterative MapReduce computations. It can cooperate with
    different messaging software, e.g. Apache ActiveMQ [5], to execute MapReduce jobs. Figure 3
    shows the iterative programming model supported by Twister. Figure 4 presents the system
    architecture of Twister.</p>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="319"><img src="assets/img/hw/se4/3.png" alt="" width="614" height="364"/><br/>
        </td>
    </tr>
    <tr>
        <td width="319"><p align="center"><em>Figure 3.</em> Twister Programming Model</p></td>
    </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="319"><p align="center"><img src="assets/img/hw/se4/4.png" alt="" width="614"
                                               height="428"/></p></td>
    </tr>
    <tr>
        <td width="319"><p align="center"><em>Figure 4.</em> Twister Architecture</p></td>
    </tr>
</table>
<p>Twister provides the following features to support MapReduce computations. </p>
<ul>
    <li>Distinction between static and variable data</li>
    <li>Configurable long-running (cacheable) map/reduce tasks</li>
    <li>Pub/sub messaging-based communication/data transfers</li>
    <li>Efficient support for Iterative MapReduce computations (far faster than Hadoop or
        Dryad/DryadLINQ)
    </li>
    <li>Combine phase to collect all reduce outputs</li>
    <li>Data access via local disks</li>
    <li>Lightweight (~5600 lines of Java code)</li>
    <li>Support for typical MapReduce computations</li>
    <li>Tools to manage data</li>
</ul>
<h2>Mapper, Reducer, Combiner, and Main Program </h2>
<p>Now we are going to implement the Twister PageRank program. Following the Twister programming
    model, this program contains four main parts. Note that the main program is provided with fixed
    input parameters.</p>
<ul>
    <li>Mapper</li>
    <li>Reduce</li>
    <li>Combiner</li>
    <li>Main program</li>
</ul>
<p>In Twister implementations of PageRank, we constructed web graphs with vertices where in-link
    degree of all pages complies with the power law distribution. This input data is partitioned
   and stored in the format of an adjacency list. Each map function runs on one of
    the partitioned datasets, which is constant over the iterations. The variable data is the
    PageRank values calculated during previous iterations, which in turn is used as the input value
    for the next iteration. In each iteration, the MAP task updates the old PageRank values to the
    new ones by analyzing the local partial adjacency list file. The output of each MAP task is only
    a part of these values. The reduce task receives all the partial output and produces the
    new PageRank values. Figure 5 shows a dataflow diagram of this program.<br/></p>
<p align="center"><img src="assets/img/hw/se4/5.png" alt="" width="344" height="258"/><br/>
    <em>Figure 5</em>. Twister PageRank dataflow</p>
<h3>Mapper</h3>
<p>A Mapper overrides the &ldquo;map&rdquo; function from the Class &quot;cgl.imr.base.MapTask&lt;collector,
    Key, Value&gt;&quot; which provides a collector for map task output, and &lt;key, value&gt;
    pairs as the map input. A Mapper implementation outputs a new set of &lt;key, value&gt; pairs
    using the provided Context.<br/>
    &lt;key, value&gt; of PageRank&rsquo;s map function is &lt;taskID, updated PageRank Values&gt;,
    where the key is the index of the current map task and the value is the compressed changed
    PageRank values of each iteration. Each map task will use this information along with the split
    data to calculate the partial PageRank values, after which it emits the map output as &lt;taskID,
    partial updated PageRank Values&gt;.<br/>


    <em>Pseudocode</em></p>
<div>
    <pre>
void Map (key, value){
    for each url in a assigned map task:
        calculate new pagerank for each url;
        collector.collect(taskID, updated partial PageRank Table);
}
    </pre>
</div>
<p><em>Detail implementation</em></p>
<div>
    <script src="https://gist.github.com/cloudmooc/6235215.js"></script>
</div>

<h3>Reducer</h3>

<p>Reducers collect the intermediate &lt;key, value&gt; output from multiple map tasks and
    assemble a &ldquo;near-completed&rdquo; result. The reason is that Twister uses multiple
    reducers to collect the intermediate result and provide a faster aggregation.
    This &ldquo;near-completed&rdquo; will be passed to a single combiner to yield the final
    output.<br/>
    <em>Pseudocode</em></p>

<div><pre>
void Reduce (taskID, &lt;list of value&gt;){
    for each x in &lt;list of value&gt;:
        urlPageRank+=x;
    collector.collect (taskID, updated partial PageRank Table);
}
</pre>
</div>
<p><em>Detail implementation</em></p>

<div>
    <script src="https://gist.github.com/cloudmooc/6235231.js"></script>
</div>
<h3>Combiner</h3>

<p>Twister Combiner generally is the &ldquo;Single reducer&rdquo; to combine all the partial
    results into a single output.<br/>
    <em>Pseudocode</em></p>

<div>
<pre>
void Combine (Map&lt;Key, Value&gt; keyValues){
    for each key in keyValues:
            urlPageRank+=x;
    write the final result to disk
}
</pre>
</div>
<p><em>Detail implementation</em></p>

<div>
    <script src="https://gist.github.com/cloudmooc/6235249.js"></script>
</div>
<h1>Edit, compile and run your code</h1>

<p>The sketch code can be found in the provided VirtualBox image <a
        href="http://cloudmooc.soic.indiana.edu:8080/homework?unit=0">http://cloudmooc.soic.indiana.edu:8080/homework?unit=0</a>.
    Use linux text editor vi/vim to add your code.</p>

<div><pre>
$ cd /root/MoocHomeworks/TwisterPageRank/
# finish the map function
$ vim src/cgl/imr/samples/pagerank/PageRankMapTask.java
# finish the reduce function
$ vim src/cgl/imr/samples/pagerank/PageRankReduceTask.java
# finish the combine function
$ vim src/cgl/imr/samples/pagerank/PageRankCombiner.java
</pre>
</div>
<div><pre>
$ cd /root/MoocHomeworks/TwisterPageRank/
$ ./compileAndExecTwisterPageRank.sh
 </pre>
</div>
<h2>View the result</h2>

<p>The result is generated as /root/MoocHomeworks/TwisterPageRank/output/project3.txt. </p>

<div class="bar">
<pre>
$ cd /root/MoocHomeworks/TwisterPageRank/
$ cat output/project3.txt
</pre>
</div>

<h1>What&rsquo;s next?</h1>

<p>Your next assignment will cover the use of K-means with Twister.</p>

<h1>References</h1>
<ol>
    <li>salsaHPC IndexedHBase Project, <a
            href="http://salsaproj.indiana.edu/IndexedHBase/index.html">http://salsaproj.indiana.edu/IndexedHBase/index.html</a>
    </li>
    <li>Clueweb09 project and dataset, <a href="http://lemurproject.org/clueweb09/">http://lemurproject.org/clueweb09/</a>
    </li>
    <li><a href="http://en.wikipedia.org/wiki/Markov_chain">http://en.wikipedia.org/wiki/Markov_chain</a>
    </li>
    <li>Twister Iterative MapReduce, <a href="http://www.iterativemapreduce.org/">http://www.iterativemapreduce.org/</a>
    </li>
    <li>Apache ActiveMQ, <a
            href="http://activemq.apache.org/">http://activemq.apache.org/</a></li>
</ol>

