<div id="accordion">
<h1>
    Goal
</h1>

<div>
    <p>You should have gone over the sections concerning Kmeans Clustering algorithms and Twister Iterative MapReduce framework. Now you are going to blend these knowledge by implementing a parallel version of
        Kmeans Clustering application using the programming interfaces of the Twister MapReduce framework. </p>
</div>

<h1>
    Deliverables
</h1>

<div>
    <p>
        You are required to turn in the following items in a zip file (<strong>username_TwisterKmeans.zip</strong>)
        in this assignment:
    </p>
    <ol>
        <li>The source code of Hadoop PageRank you implemented.</li>
        <li>The executable class file and the README file that describes its
            usage.
        </li>
        <li>Technical report (<strong>username_TwisterKmeans_report.docx</strong>)
            that contains:
            <ol type="a">
                <li>The description of the main steps and data flow in your
                    program.
                </li>
                <li>The output file (<strong>username_TwisterKmeans_output.txt</strong>)
                    which contains the top 10 ranking url numbers.
                </li>
            </ol>
        </li>
    </ol>
    <p>Points will be reduced (maximum 0.5 points) if the filename or
        directory structure are different from instructed above.</p>
</div>

<h1>Evaluation</h1>

<div>
    <p>The point total for this project is 5, where the
        distribution is as follows:</p>
    <ol type="a">
        <li>Completeness of your code and output (3 points)</li>
        <li>Correctness of written report (1.5 points)</li>
        <li>Readability and clarity of README.txt (0.5 points)</li>
    </ol>
</div>

<h1>Introduction</h1>

<div>
  <p align="justify">In statistics and machine learning, kmeans clustering is a method of cluster analysis which aims to partition n observation into k clusters where each observation belongs to the cluster with the nearest mean [<a target="_blank" href="http://en.wikipedia.org/wiki/K-means_clustering">1</a>].</p>
  <p align="justify">In each iteration of Twister-Kmeans [2], all the map tasks get the same input data (current cluster centers)  and each computes a partial cluster centers by going through the 3D data points owned by itself. A reduce task computes the average of the partial cluster centers and produce the cluster centers for the next step. Main program, once it gets these new cluster centers, calculates the difference between the new cluster centers and the previous cluster centers, then determine if it needs to execute another cycle of MapReduce computation. </p>
  <p align="center"><img border="0" src="http://salsahpc.indiana.edu/tutorial/images/kmeans_color.png" width="533" height="533" alt="" /></p>
  <p align="center">Figure 1. The workflow of kmeans application with Twister MapReduce framework</p>
  <p>&nbsp;</p>
</div>

<h1>Sketch code for Twister Kmeans</h1>


<div>
    <p>Each map task in the Twister-Kmeans application gets a set of 3D data points. These data points does not change over the course of iterations and Map tasks access them in each iteration. Invariant nature of this data mark them as static in Twister. Thus, particular points are loaded only once for the entire execution. The cluster centers computed in each iteration are dynamic data as they tend to change over iterations. Also, the calculated cluster centers of a particular iteration serve as the input for the next iteration if they don't meet the satisfiable conditions.</p>
    <p>You need to complete two files in the provided pacakge inside &quot;cgl/imr/samples/kmeans/&quot;:        </p>

    <p>
        <br> 
        <strong>KMeansMapTask.java</strong><!-- HTML generated using hilite.me -->
    </p>
    <p>You will need to fill the missing code within getEuclidean2() and map().</p>
    <div style="background: #ffffff; overflow: auto; width: auto;">

      <script src="https://gist.github.com/cloudmooc/6330391.js"></script>

    </div>
    
    <p><strong>KMeansReduceTask.java</strong></p>
    <p>&nbsp;</p>
    
    <!-- HTML generated using hilite.me -->
    <div style="background: #ffffff; overflow: auto; width: auto;">

      <script src="https://gist.github.com/cloudmooc/6330417.js"></script>

    </div>
    

</div>
<h1>Edit</h1>

<p>The sketch code is stored within the provided VirtualBox image <a
        href="http://cloudmooc.soic.indiana.edu:8080/homework?unit=0">http://cloudmooc.soic.indiana.edu:8080/homework?unit=0</a>
    [5]. Use linux text editor vi/vim to add your code.</p>

<div><br/>

    <div class="dp-highlighter">
        <div class="bar">
<pre>
$ cd /root/MoocHomeworks/TwisterKmeans/
$ vim src/cgl/imr/samples/kmeans/KMeansMapTask.java
$ vim src/cgl/imr/samples/kmeans/KMeansReduceTask.java
</pre>
        </div>
    </div>
    <h2>Compile and run your code</h2>

    <p>Use the same one-click script compileAndExecTwisterKmeans.sh as in prior homework. Standard
        error messages such as &ldquo;compile errors, execution errors, etc.&rdquo; will be
        redirected on the screen. Debug it based on the returned messages.</p>

    <div><br/>

        <div class="dp-highlighter">
            <div class="bar">
<pre>
$ cd /root/MoocHomeworks/TwisterKmeans/
$ ./compileAndExecTwisterKmeans.sh
</pre>
            </div>
        </div>
        <h2>View the result</h2>

        <p>The result is generated as /root/MoocHomeworks/TwisterKmeans/bin/output/TwisterKmeansOutput.txt. </p>

        <div><br/>
        

          <div class="dp-highlighter">
                <div class="bar">
<pre>
$ cd /root/MoocHomeworks/TwisterKmeans/bin/
$ cat output/*</pre>
            </div>
            </div>

	<h2>View the result</h2>
    <ol>
    <li>Kmeans Clustering Wiki: <a href="http://en.wikipedia.org/wiki/K-means_clustering">http://en.wikipedia.org/wiki/K-means_clustering</a></li>
    <li>Twister Kmeans tutorail at Big Data for Science: <a href="http://salsahpc.indiana.edu/tutorial/twister_kmeans_user_guide.htm">http://salsahpc.indiana.edu/tutorial/twister_kmeans_user_guide.htm</a></li>
    <li></li>
    
    </ol>
  



        </div>
</div>
    </div>
</div>
