<div id="accordion">
    <h2>Goal</h2>
    <div>
        <p>In this lab you will get acquainted with running Hadoop programs and configuring their systems.
            This assumes you have started Hadoop successfully.
            You will be asked to add a Combiner to the basic WordCount program on your own at the end.</p>
    </div>

    <h1>
        Deliverables
    </h1>
    <div>
        <p>None</p>
    </div>

    <h2>Introduction</h2>
    <div>
        <p>WordCount is a simple program which counts the number of occurrences of each word in a
            given text input dataset.
            WordCount fits very well with the map/reduce programming model, making it a perfect
            example for illustrating
            the Hadoop MapReduce programming style. Our implementation consists of three main
            parts: </p>
        <ol>
            <li>Mapper</li>
            <li>Reducer</li>
            <li>Main program</li>
        </ol>

        <p>The source code and build files for this project can be found in the /root/MoocHomeworks/HadoopWordCount directory of the VM.</p>
        <p>In this project you need to add a combiner to the provided source code. A combiner doesn't affect the correctness of a Hadoop program, but is
       used to reduce the amount of data transferred from Map function to Reduce function in a Hadoop program.
            We have provided you with the complete WordCount program with a working Mapper and a Reducer. You can compile and run the program as provided.</p>
    </div>

    <h2>Video</h2>
    <div>
        <iframe width="560" height="315" src="//www.youtube.com/embed/U1vuNjFAI9o" frameborder="0" allowfullscreen></iframe>
	</div>

    <h2>Mapper</h2>
    <div>
        <p>A Mapper overrides the “map” function from the Class "org.apache.hadoop.mapreduce.Mapper"
            which provides &lt;key,
            value&gt; pairs as the input. A Mapper implementation may output &lt;key, value&gt; pairs
            using the provided
            Context. </p>

        <p>Input value of the WordCount Map task will be a line of text from the input data file. The key will be
            the line number &lt;line_number, line_of_text&gt;. Map task outputs &lt;word, one&gt;
            for each word in the
            line of text.
        </p>
        <p><u>Pseudocode</u></p>
        <div class="dp-highlighter">
            <div class="bar">
                <div class="tools"></div>
            </div>
            <ol class="dp-j">
                <li class="alt"><span><span class="keyword">void</span><span>&nbsp;Map&nbsp;(key,&nbsp;value){&nbsp;&nbsp;</span></span>
                </li>
                <li class=""><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="keyword">for</span><span>&nbsp;each&nbsp;word&nbsp;x&nbsp;in&nbsp;value:&nbsp;&nbsp;</span></span>
                </li>
                <li class="alt"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;output.collect(x,&nbsp;<span
                        class="number">1</span><span>);&nbsp;&nbsp;</span></span></li>
                <li class=""><span>}&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
            </ol>
        </div>
        <div>
            <script src="https://gist.github.com/cloudmooc/6232204.js"></script>
        </div>
    </div>
    <h2>Reducer</h2>
    <div>
        <p>A Reducer collects the intermediate &lt;key,vjob.setCombinerClass(Reduce.class);alue&gt; output from multiple map tasks and
            assembles a single
            result. Here, the WordCount program will sum up the occurrence of each word into pairs
            as &lt;word, occurrence&gt;.
        </p>
        <p>
            <u>Pseudo-code</u>
        </p>

        <div class="dp-highlighter">
            <div class="bar">
                <div class="tools"></div>
            </div>
            <ol class="dp-j">
                <li class="alt"><span><span class="keyword">void</span><span>&nbsp;Reduce&nbsp;(keyword,&nbsp;&lt;list&nbsp;of&nbsp;value&gt;){&nbsp;&nbsp;</span></span>
                </li>
                <li class=""><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="keyword">for</span><span>&nbsp;each&nbsp;x&nbsp;in&nbsp;&lt;list&nbsp;of&nbsp;value&gt;:&nbsp;&nbsp;</span></span>
                </li>
                <li class="alt"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sum+=x;&nbsp;&nbsp;</span>
                </li>
                <li class=""><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;final_output.collect(keyword,&nbsp;sum);&nbsp;&nbsp;</span>
                </li>
                <li class="alt"><span>}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
            </ol>
        </div>
        <pre name="code" class="java" style="display: none;">void&nbsp;Reduce&nbsp;(keyword,&nbsp;&lt;list&nbsp;of&nbsp;value&gt;){<br>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;each&nbsp;x&nbsp;in&nbsp;&lt;list&nbsp;of&nbsp;value&gt;:<br>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sum+=x;<br>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;final_output.collect(keyword,&nbsp;sum);<br>}   </pre>
        <!--<p><u>Detail implementation</u></p>-->
        <div>
        <script src="https://gist.github.com/cloudmooc/6232383.js"></script>
        </div>
    </div>

    <h2>Set up the Main Program</h2>
    <div>
        <p>You will need to add the combiner when you configure the MapReduce job.</p>
        <p>
            The Main program configures and runs the MapReduce job. We use the main program to
            perform basic configurations such as:</p>
        <ol>
            <li><strong>Job Name</strong>: name of this Job</li>
            <li><strong>Executable (Jar) Class</strong>: the main executable class. For here,
                WordCount.
            </li>
            <li><strong>Mapper Class</strong>: class which overrides the "map" function. For here,
                Map.
            </li>
            <li><strong>Reducer</strong>: class which overrides the "reduce" function. For here,
                Reduce.
            </li>
            <li><strong>Combiner</strong>: an optional component.
            </li>
            <li><strong>Output Key</strong>: type of output key. For here, Text.</li>
            <li><strong>Output Value</strong>: type of output value. For here, IntWritable.</li>
            <li><strong>File Input Path</strong></li>

            <li><strong>File Output Path</strong></li>
        </ol>
        <div>
        <script src="https://gist.github.com/cloudmooc/6232408.js"></script>
        </div>
    </div>
    <h2>Compile the Program</h2>
    <pre xml:space="preserve">cd /root/MoocHomeworks/HadoopWordCount<br>./build.sh</pre>
    <!-- content area -->
    <h2>Format Hadoop File System</h2>
    <ol>
    <li>cd $HADOOP_HOME/bin</li>
<li>./stop-all.sh</li>
<li>hadoop namenode -format</li>
<li>./start-all.sh # (and wait for at least 10 seconds)</li>
</ol>
    <h2>Execute Hadoop-WordCount</h2>
    <div>
        <p>This section details the simplest way to run the WordCount program. We will use Hadoop from the Hadoop Configuration lab. Here are the steps.</p>
        <ol>
            <li>First build the WordCount program.</li>
            <li>Then create an input directory in Hadoop File System.
            </li>
            <li>Copy the text file containing the words to the input directory.
            </li>

            <li>Run the WordCount program with the input directory.
            </li>
            <li>View the results.</li>
        </ol>
        <p>The commands required are listed below:</p>
        <script src="https://gist.github.com/cloudmooc/6233918.js"></script>
    </div>
    <h2>Adding a Combiner</h2>

    <div>
        <p>A combiner is a reduce-type function to be used when there are map key-value pairs that
            are not immediately
            written to the output. It will collect those pairs in lists and perform local
            aggregation of the
            intermediate output. This speeds up the process, which cuts down the amount of data
            transferred from the
            Mapper to the Reducer. You can add the combiner to the Main program and compile and run WordCount as described previously.</p>
    </div>
</div>
