{% extends 'base.html' %}

{% block header_content %}
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="content-box">
    <!--<div class="row-fluid">-->
        <!--<div class="span12">-->
            <!--<h2>Playlist</h2>-->
            <!--{% if not playListEmpty %}-->
            <!--<a class="btn btn-success" href="unitplaylist">-->
                <!--{% trans %} Start {% endtrans %}-->
            <!--</a>-->

            <!--{% else %}-->
            <!--<a class="btn btn-success" href="unit">-->
                <!--<i class="icon-play icon-white"></i>{% trans %} Start {% endtrans %}-->
            <!--</a>-->
            <!--{% endif %}-->

            <!--{% if not playListEmpty %}-->
            <!--<a class="btn" href="unitplaylist?resume=yes">-->
                <!--{% trans %} Resume {% endtrans %}-->
            <!--</a>-->
            <!--{% endif %}-->

            <!--<a role="btn" href="playlist" class="btn hidden-phone">-->
                <!--<i class="icon-pencil"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <div class="row-fluid">
        <div class="span12">
            <h2>Course progress: {{ (progress_total)|round|int }}%</h2>
            {% if progress_total != 0 %}
            <div class="progress">
                <div class="bar" style="width: {{ progress_total }}%;"></div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <h2>
            {% trans %} Schedule {% endtrans %}
        </h2>
        <table class="table table-striped">
            <tbody>
                {% for unit in units %}
                {% if unit.now_available or is_course_admin %}
                <tr>


                    <td style="width: 70%;">
                        {% if unit.type == 'A' %}
                        <a href="assessment?name={{ unit.unit_id }}">{{ unit.title }}</a>
                        {% elif unit.type == 'U' %}
                        <a href="unit?unit={{ unit.unit_id }}">
                            {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                        </a>
                        {% elif unit.type == 'O' %}
                        <a href="{{ unit.href }}"> {{ unit.title }} </a>
                        {% else %}
                        Error: unit type not recognized.
                        {% endif %}
                    </td>

                    <td style="width: 15%;">
                        {% if unit.difficulty == 1 %}
                        <span title="Easy" class="badge badge-success">Basic</span>
                        {% elif unit.difficulty == 2 %}
                        <span title="Easy" class="badge badge-warning">Intermediate</span>
                        {% elif unit.difficulty == 3%}
                        <span title="Easy" class="badge badge-important">Advanced</span>
                        {% else %}
                        <span title="None" class="badge badge-none">---</span>
                        {% endif %}
                    </td>

                    <td style="width: 15%;">
                        {% if unit.type == 'A' %}
                        {% if progress[unit.unit_id] > 0 %}
                            <i class="icon-ok"></i>
                            Finished
                        {% else %}
                            <i class="icon-circle-blank"></i>
                            Not Started
                        {% endif %}
                        {% elif unit.type == 'U' %}
                        {% if is_progress_recorded %}
                        {% if progress[unit.unit_id] == 2 %}
                            <i class="icon-ok"></i>
                            Finished
                        {% elif progress[unit.unit_id] == 1 %}
                        <img src="assets/img/in_progress.png">
                            <i class="icon-adjust"></i>
                            In Progress
                        {% else %}
                            <i class="icon-circle-blank"></i>
                            Not Started
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </td>

                </tr>
                {% else %}
                <tr>
                    <td style="width: 70%;">
                        {% if unit.type == 'A' %}
                            {{ unit.title }}
                        {% elif unit.type == 'U' %}
                            {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                            <em>
                                {{ unit.release_date }}
                            </em>
                        {% elif unit.type == 'O' %}
                            {{ unit.title }}
                            <em>
                                {{ unit.release_date }}
                            </em>
                        {% else %}
                            Error: unit type not recognized.
                        {% endif %}
                    </td>

                    <td style="width: 15%;">
                        {% if unit.difficulty == 1 %}
                        <span title="Easy" class="badge badge-success">Basic</span>
                        {% elif unit.difficulty == 2 %}
                        <span title="Easy" class="badge badge-warning">Intermediate</span>
                        {% elif unit.difficulty == 3%}
                        <span title="Easy" class="badge badge-important">Advanced</span>
                        {% else %}
                        <span title="None" class="badge badge-none">---</span>
                        {% endif %}
                    </td>

                    <td style="width: 15%;">

                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>
                {% trans %} Progress Distribution {% endtrans %}
            </h2>
            <p>The course progress is the percentage of mandatory items completed for the course.</p>
            <table class="table table-striped">
                <tbody>
                    <tr><td>Participation (10%)</td></tr>
                    <tr><td>Written Assignments (10%)</td></tr>
                    <tr><td>Projects (30%) - 8 Projects: [Hadoop WordCount (5), Hadoop PageRank (10), Hadoop Blast (10), HBase WordCount (5), Building an Inverted Index (10), Pig PageRank (10), Pig K-Means (10), Build a Search Engine (20)]</td></tr>
                    <tr><td>Exams (50%) - Midterm (20%), Final (30%)</td></tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>
                {% trans %} Weekly Schedule {% endtrans %}
            </h2>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 1 - Jan 11th to Jan 17th</h3>
                </div>
                <div class="widget-content" style="background-color: #B7AFA3">
                    <div class="widget big-stats-container" style="background-color: #B7AFA3">
                        <div class="widget-content" style="background-color: #B7AFA3">
                         <h6 class="bigstats" style="background-color: #B7AFA3; min-height: 210px">
                            <ul>
                            <li>Course Info</li>
                                <li>Introduction</li>
                                <li>Data Center Model</li>
                                <li>Data Intensive Sciences</li>
                                <li>IaaS, PaaS, and SaaS</li>
                                <li>Challenges</li>
                            </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #B7AFA3">
                                <div class="stat"> <span class="value"><a href="unit?unit=1">Unit 1</a></span> </div>
                                <div class="stat"> <span class="value">Assignment 0</span> </div>
                                <div class="stat"> <!--<span class="value"><a href="homework?unit=1"></a>Homework 1</a></span> --> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 3 - Jan 25th to Jan 31st</h3>
                </div>
                <div class="widget-content" style="background-color: #F5FAFA">
                    <div class="widget big-stats-container" style="background-color: #F5FAFA">
                        <div class="widget-content" style="background-color: #F5FAFA">
                            <h6 class="bigstats" style="background-color: #F5FAFA; min-height: 210px">
                                <ul>
                                    <li>Apache Data Analysis Open Stack</li>
                                    <li>MapReduce</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #F5FAFA">
                                <div class="stat"> <span class="value"><a href="unit?unit=3">Unit 3</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=3">Homework 3</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 5 - Feb 8th to Feb 14th</h3>
                </div>
                <div class="widget-content" style="background-color: #ACD1E9" >
                    <div class="widget big-stats-container" style="background-color: #ACD1E9">
                        <div class="widget-content" style="background-color: #ACD1E9">
                            <h6 class="bigstats" style="background-color: #ACD1E9; min-height: 210px">
                                <ul>
                                    <li>Hadoop PageRank</li>
                                    <li>Discussions and Parallel Thinking</li>
                                    <li>Hadoop Extensions</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #ACD1E9">
                                <div class="stat"> <span class="value"><a href="unit?unit=4">Unit 4</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=4">Homework 4</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 7 - Feb 22nd to Feb 28th</h3>
                </div>
                <div class="widget-content" style="background-color: #F5FAFA" >
                    <div class="widget big-stats-container" style="background-color: #F5FAFA;">
                        <div class="widget-content" style="background-color: #F5FAFA;">
                            <h6 class="bigstats" style="background-color: #F5FAFA; min-height: 210px;">
                                <ul>
                                    <li>Applying for FutureSystems Account</li>
                                    <li>FutureSystems India OpenStack</li>
                                    <li>Starting VMs on FutureSystems</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #F5FAFA;">
                                <div class="stat"> <span class="value"><a href="unit?unit=2">Unit 2</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=5">Homework 5</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 9 - Mar 7th to Mar 13th</h3>
                </div>
                <div class="widget-content" style="background-color: #E8D0A9" >
                    <div class="widget big-stats-container" style="background-color: #E8D0A9">
                        <div class="widget-content" style="background-color: #E8D0A9">
                            <h6 class="bigstats" style="background-color: #E8D0A9; min-height: 210px">
                            <ul>
                            <li>Indexing Applications</li>
                            <li>Related Work</li>
                            <li>Indexamples</li>
                            <li>Indexing 101</li>
                            </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #E8D0A9">
                                <div class="stat"> <span class="value"><a href="unit?unit=5">Unit 5</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=8">Homework 8</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
           <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 11 - Mar 29th to Apr 4th</h3>
                </div>
                <div class="widget-content" style="background-color: #B7AFA3">
                    <div class="widget big-stats-container" style="background-color: #B7AFA3">
                        <div class="widget-content" style="background-color: #B7AFA3">
                            <h6 class="bigstats" style="background-color: #B7AFA3; min-height: 210px">
                                <ul>
                                    <li>Applying for FutureSystems Account</li>
                                    <li>FutureSystems India OpenStack</li>
                                    <li>Starting VMs on FutureSystems</li>
                                    <li>Hadoop WordCount on VMs</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #B7AFA3">
                                <div class="stat"> <span class="value"><a href="unit?unit=2">Unit 2</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 13 - Apr 13th to Apr 19th</h3>
                </div>
                <div class="widget-content" style="background-color: #C1DAD6">
                    <div class="widget big-stats-container" style="background-color: #C1DAD6">
                        <div class="widget-content" style="background-color: #C1DAD6">
                            <h6 class="bigstats" style="background-color: #C1DAD6; min-height: 210px">
                                <ul>
                                    <li>Everyday Data</li>
                                    <li>Streaming the Data Ocean</li>
                                    <li>Streams of Events</li>
                                    <li>Faults & Frameworks</li>
                                    <li>Spouts to Bolts</li>
                                </ul>
                                <ul style="list-style-type: none;">
                                <li>'Distributed and Cloud Computing textbook': Ch. 9, Sec. 9.1 and 9.3</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #C1DAD6">
                                <div class="stat"> <span class="value"><a href="unit?unit=6">Unit 6</a></span> </div>
                                 <div class="stat"> <span class="value">Reading Assignment 5</span> </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 15 - Apr 27th to May 3rd</h3>
                </div>
                <div class="widget-content" style="background-color: #C1DAD6">
                    <div class="widget big-stats-container" style="background-color: #C1DAD6">
                        <div class="widget-content" style="background-color: #C1DAD6">
                            <h6 class="bigstats" style="background-color: #C1DAD6; min-height: 210px">
                                <ul>
                                    <li>Google Components</li>
                                    <li>Google Architecture</li>
                                    <li>Google History</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #C1DAD6">
                                <div class="stat"> <span class="value"><a href="unit?unit=7">Unit 7</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=9">Homework 9</a></span> </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        
       <div class="row-fluid">

        <div class="span6">
         <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 2 - Jan 18th to Jan 24th</h3>
                </div>
                <div class="widget-content" style="background-color: #C1DAD6">
                    <div class="widget big-stats-container" style="background-color: #C1DAD6">
                        <div class="widget-content" style="background-color: #C1DAD6">
                            <h6 class="bigstats" style="background-color: #C1DAD6; min-height: 210px">
                            <table>
                            <tr>
                            <td>
                                <ul>
                                    <li>Course Expectations</li>
                                    <li>Student Work 1</li>
                                    <li>Student Work 2</li>
                                    </td>
                                    </ul>
                                    <td>
                                    <ul>
                                    <li>Growth of Virtual Machines</li>
                                    <li>Implementation Levels</li>
                                    <li>Tools and Mechanisms</li>
                                    </ul>
                                    </td>
                                    <td>
                                    <ul>
                                    <li>CPU, Memory and I/O Devices</li>
                                    <li>Clusters and Resource Management</li>
                                    <li>Data Center Automation</li>
                                </ul>
                                </td>
                                </tr>
                                </table>
                                <ul style="list-style-type: none;">
                                <li>'Distributed and Cloud Computing' textbook: Chapter 3, Sections 1 through 5. </li>
                                </ul>
                                
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #C1DAD6">
                                <div class="stat"> <span class="value"><a href="unit?unit=2">Unit 2</a></span> </div>
                                <div class="stat"> <span class="value">Reading Assignment 2</span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=1">Homework 1</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
           <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 4 - Feb 1st to Feb 7th</h3>
                </div>
                <div class="widget-content" style="background-color: #E8D0A9">
                    <div class="widget big-stats-container" style="background-color: #E8D0A9">
                        <div class="widget-content" style="background-color: #E8D0A9">
                            <h6 class="bigstats" style="background-color: #E8D0A9; min-height: 210px">
                                <ul>
                                    <li>Hadoop Framework</li>
                                    <li>Hadoop Tasks</li>
                                    <li>Fault Tolerance</li>
                                    <li>How Hadoop Runs on a MapReduce Job</li>
                                </ul>
                                <ul style="list-style-type: none;">
                                <li>“The Google File System”, published October 2003</li>
    							<li>“MapReduce: Simplified Data Processing on Large Clusters”, published December 2004</li>
   								<li>“BigTable: A Distributed Storage System for Structured Data”, published November 2006</li>
</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #E8D0A9">
                                <div class="stat"> <span class="value"><a href="unit?unit=3">Unit 3</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=2">Homework 2</a></span>, <span class="value"><a href="homework?unit=4">4</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 6 - Feb 15th to Feb 21nd</h3>
                </div>
                <div class="widget-content" style="background-color: #B7AFA3">
                    <div class="widget big-stats-container" style="background-color: #B7AFA3">
                        <div class="widget-content" style="background-color: #B7AFA3">
                            <h6 class="bigstats" style="background-color: #B7AFA3; min-height: 210px">
                                <ul>
                                    <li>Introduction to BLAST</li>
                                    <li>BLAST Parallelization</li>
                                </ul>
                                <ul style="list-style-type: none;">
                                <li>"CloudBurst: highly sensitive read mapping with MapReduce"</li>
                                <li>"CloudBLAST: Combining MapReduce and Virtualization on Distributed Resources for Bioinformatics Applications", IEEE eScience 2008</li>
                                <li>"The Design, Implementation, and Evaluation of mpiBLAST", Bioinformatics Advance Access 2009</li>
                                <li>"AzureBlast: A Case Study of Developing Science Applications on the Cloud", HPDC 2010</li>
                                <li>"Applying Twister to Scientific Applications", CloudCom 2010</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #B7AFA3">
                                <div class="stat"> <span class="value"><a href="unit?unit=3">Unit 3</a></span> </div>
                                <div class="stat"> <span class="value">Reading Assignment 3</span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=5">Homework 5</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 8 - Feb 29th to Mar 6th</h3>
                </div>
                <div class="widget-content" style="background-color: #C1DAD6">
                    <div class="widget big-stats-container" style="background-color: #C1DAD6">
                        <div class="widget-content" style="background-color: #C1DAD6">
                            <h6 class="bigstats" style="background-color: #C1DAD6; min-height: 210px">
                            <ul>
                                <li>RDBMS vs. NoSQL</li>
                                <li>NoSQL Characteristics</li>
                                <li>BigTable</li>
                                <li>HBase</li>
                                <li>HBase Coding</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #C1DAD6">
                                <div class="stat"> <span class="value"><a href="unit?unit=5">Unit 5</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=6">Homework 6</a> &<a href="homework?unit=7"> 7</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 10 - Mar 21st to Mar 27th</h3>
                </div>
                <div class="widget-content" style="background-color: #ACD1E9" >
                    <div class="widget big-stats-container" style="background-color: #ACD1E9">
                        <div class="widget-content" style="background-color: #ACD1E9">
                            <h6 class="bigstats" style="background-color: #ACD1E9; min-height: 210px">
                                <ul>
                                    <li>Google Components</li>
                                    <li>Google Architecture</li>
                                    <li>Google History</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #ACD1E9">
                                <div class="stat"> <span class="value"><a href="unit?unit=7">Unit 7</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=9">Homework 9</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 12 - Apr 6th to Apr 12th</h3>
                </div>
                <div class="widget-content" style="background-color: #F5FAFA" >
                    <div class="widget big-stats-container" style="background-color: #F5FAFA">
                        <div class="widget-content" style="background-color: #F5FAFA">
                            <h6 class="bigstats" style="background-color: #F5FAFA; min-height: 210px">
                                <ul>
                                    <li>Indexing Applications</li>
                                    <li>Related Work</li>
                                    <li>Indexamples</li>
                                    <li>Indexing 101</li>
                                    <li>Social Media Searches</li>
                                    <li>Analysis Algorithms</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #F5FAFA">
                                <div class="stat"> <span class="value"><a href="unit?unit=5">Unit 5</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=8">Homework 8</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                    <h3>Week 14 - Apr 20th to Apr 26th</h3>
                </div>
                <div class="widget-content" style="background-color: #E8D0A9" >
                    <div class="widget big-stats-container" style="background-color: #E8D0A9">
                        <div class="widget-content" style="background-color: #E8D0A9">
                            <h6 class="bigstats" style="background-color: #E8D0A9; min-height: 210px">
                                <ul>
                                    <li>Pig Setup</li>
                                    <li>Pig Projects</li>
                                </ul>
                            </h6>
                            <div id="big_stats" class="cf" style="background-color: #E8D0A9">
                                <div class="stat"> <span class="value"><a href="unit?unit=6">Unit 6</a></span> </div>
                                <div class="stat"> <span class="value"><a href="homework?unit=10">Homework 10</a>, <a href="homework?unit=11">11</a>, <a href="homework?unit=12">12</a></span> </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}
