{% extends 'base.html' %}

{% block header_content %}
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="content-box">
    <!--<div class="row-fluid">-->
        <!--<div class="span12">-->
            <!--<h2>Playlist</h2>-->
            <!--{% if not playListEmpty %}-->
            <!--<a class="btn btn-success" href="unitplaylist">-->
                <!--{% trans %} Start {% endtrans %}-->
            <!--</a>-->

            <!--{% else %}-->
            <!--<a class="btn btn-success" href="unit">-->
                <!--<i class="icon-play icon-white"></i>{% trans %} Start {% endtrans %}-->
            <!--</a>-->
            <!--{% endif %}-->

            <!--{% if not playListEmpty %}-->
            <!--<a class="btn" href="unitplaylist?resume=yes">-->
                <!--{% trans %} Resume {% endtrans %}-->
            <!--</a>-->
            <!--{% endif %}-->

            <!--<a role="btn" href="playlist" class="btn hidden-phone">-->
                <!--<i class="icon-pencil"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <div class="row-fluid">
        <div class="spam12">
            <h2>Course progress: {{ (progress_total)|round|int }}%</h2>
            {% if progress_total != 0 %}
            <div class="progress">
                <div class="bar" style="width: {{ progress_total }}%;"></div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <h2>
            {% trans %} Schedule {% endtrans %}
        </h2>
        <table class="table table-striped">
            <tbody>
                {% for unit in units %}
                {% if unit.now_available or is_course_admin %}
                <tr>


                    <td style="width: 70%;">
                        {% if unit.type == 'A' %}
                        <a href="assessment?name={{ unit.unit_id }}">{{ unit.title }}</a>
                        {% elif unit.type == 'U' %}
                        <a href="unit?unit={{ unit.unit_id }}">
                            {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                        </a>
                        {% elif unit.type == 'O' %}
                        <a href="{{ unit.href }}"> {{ unit.title }} </a>
                        {% else %}
                        Error: unit type not recognized.
                        {% endif %}
                    </td>

                    <td style="width: 15%;">
                        {% if unit.difficulty == 1 %}
                        <span title="Easy" class="badge badge-success">Basic</span>
                        {% elif unit.difficulty == 2 %}
                        <span title="Easy" class="badge badge-warning">Intermediate</span>
                        {% elif unit.difficulty == 3%}
                        <span title="Easy" class="badge badge-important">Advanced</span>
                        {% else %}
                        <span title="None" class="badge badge-none">---</span>
                        {% endif %}
                    </td>

                    <td style="width: 15%;">
                        {% if unit.type == 'A' %}
                        {% if progress[unit.unit_id] > 0 %}
                            <i class="icon-ok"></i>
                            Finished
                        {% else %}
                            <i class="icon-circle-blank"></i>
                            Not Started
                        {% endif %}
                        {% elif unit.type == 'U' %}
                        {% if is_progress_recorded %}
                        {% if progress[unit.unit_id] == 2 %}
                            <i class="icon-ok"></i>
                            Finished
                        {% elif progress[unit.unit_id] == 1 %}
                        <img src="assets/img/in_progress.png">
                            <i class="icon-adjust"></i>
                            In Progress
                        {% else %}
                            <i class="icon-circle-blank"></i>
                            Not Started
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </td>

                </tr>
                {% else %}
                <tr>
                    <td style="width: 70%;">
                        {% if unit.type == 'A' %}
                            {{ unit.title }}
                        {% elif unit.type == 'U' %}
                            {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                            <em>
                                {{ unit.release_date }}
                            </em>
                        {% elif unit.type == 'O' %}
                            {{ unit.title }}
                            <em>
                                {{ unit.release_date }}
                            </em>
                        {% else %}
                            Error: unit type not recognized.
                        {% endif %}
                    </td>

                    <td style="width: 15%;">
                        {% if unit.difficulty == 1 %}
                        <span title="Easy" class="badge badge-success">Basic</span>
                        {% elif unit.difficulty == 2 %}
                        <span title="Easy" class="badge badge-warning">Intermediate</span>
                        {% elif unit.difficulty == 3%}
                        <span title="Easy" class="badge badge-important">Advanced</span>
                        {% else %}
                        <span title="None" class="badge badge-none">---</span>
                        {% endif %}
                    </td>

                    <td style="width: 15%;">

                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}