{% extends 'base.html' %}

{% block header_content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="assets/lib/jstree/jquery.jstree.js"></script>
<script>
    $(document).ready(function () {
        $("#gcb-nav-y")
                .jstree({
                    "themes" : {
                    "dots" : false,
                    "icons" : false
                }, "plugins" : ["themes","html_data","ui"] });
    });
</script>
{% endblock %}
{% block top_content %}

{% endblock %}

{% block main_content %}
<div class="gcb-main">
    <div style="width: 20%;" class="gcb-nav" id="gcb-nav-y">
        <ul style="border-bottom: none">
        {% for unit in units %}
        {% if unit.type != 'A' and unit.type != 'O' %}
            <li style="overflow-wrap: break-word; border-bottom: none">
                <a href="#">{{ unit.unit_id }}. {{ unit.title }}</a>
                {% if units_lessons[unit.unit_id] != 'None' %}
                <ul>
                    {% for v in units_lessons[unit.unit_id] %}
                    <li style="border-bottom: none">
                        <a href="unit?unit={{unit.unit_id}}&lesson={{v.lesson_id}}"><span style="overflow: inherit; word-wrap: break-word">{{ unit.unit_id }}.{{v.lesson_id}}. {{v.title}}</span></a>
                        <input type='hidden' name='unit' value="{{unit.unit_id}}">
                        <input type='hidden' name='lesson' value="{{v.lesson_id}}">
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class="gcb-article tab-content" style="width: 78%;" role="main">
        <div>
            <table>
                <tbody>
                <tr><td>
                    <div class="next-button" style="float:left; margin-top: 0px; margin-right: 40px;">
                    <a href="unitplaylist">
                        {% trans %} Start {% endtrans %}
                    </a>
                    </div>
                </td>
                    <td><div class="next-button" style="float:left; margin-top: 0px; margin-right: 40px;">
                        <a href="unitplaylist?resume=yes">
                            {% trans %} Resume {% endtrans %}
                        </a>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <tbody>
                    <tr><td><h2 class="product-headers" style="line-height: 25px">
                        {{course_info.course.blurb}}
                    </h2></td></tr>
                    <tr><td><h2 class="product-headers" style="line-height: 25px">
                        {{course_info.course.instructor_details | safe}}
                    </h2></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
