{% extends 'base.html' %}

{% block top_content %}

{% endblock %}

{% block main_content %}
<div class="gcb-main">
    <div>
        <h1 class="product-headers">
            {{course_info.course.title}}
        </h1>
    </div>
    <div style="width: 30%;" class="gcb-nav" id="gcb-nav-y">
        <ul>
            {% for unit in units %}
            {% if unit.now_available or is_course_admin %}
            {% if unit.type == 'A' %}
            <li><p class="top_content">
                {% if progress[unit.unit_id] > 0 %}
                <img src="assets/lib/completed.png"
                     alt="{% trans %} Completed {% endtrans %}"
                     title="{% trans %} Completed {% endtrans %}"
                     class="progress"
                     id="progress-completed-{{unit.unit_id}}">
                {% else %}
                <img src="assets/lib/not_started.png"
                     alt="{% trans %} Not yet submitted {% endtrans %}"
                     title="{% trans %} Not yet submitted {% endtrans %}"
                     class="progress"
                     id="progress-notstarted-{{unit.unit_id}}">
                {% endif %}
                <a href="assessment?name={{ unit.unit_id }}">{{ unit.title }}</a>
                {% elif unit.type == 'U' %}
                <li><p class="top_content">
                    {% if is_progress_recorded %}
                    {% if progress[unit.unit_id] == 2 %}
                    <img src="assets/lib/completed.png"
                         alt="{% trans %} Completed {% endtrans %}"
                         title="{% trans %} Completed {% endtrans %}"
                         class="progress"
                         id="progress-completed-{{unit.unit_id}}">
                    {% elif progress[unit.unit_id] == 1 %}
                    <img src="assets/lib/in_progress.png"
                         alt="{% trans %} In progress {% endtrans %}"
                         title="{% trans %} In progress {% endtrans %}"
                         class="progress"
                         id="progress-inprogress-{{unit.unit_id}}">
                    {% else %}
                    <img src="assets/lib/not_started.png"
                         alt="{% trans %} Not yet started {% endtrans %}"
                         title="{% trans %} Not yet started {% endtrans %}"
                         class="progress"
                         id="progress-notstarted-{{unit.unit_id}}">
                    {% endif %}
                    {% else %}                                                 
                    <span class="progress-empty"></span>
                    {% endif %}  
                    
                    {% if unit.description and unit.description != ' ' %} 
                    	<a class="tipbox" href="unit?unit={{ unit.unit_id }}">
                        	{{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }} <span class="classic gradient"> <em>Description</em> {{ unit.description }} </span>
                    	</a>                        	
                    {% else %} 
                    	<a href="unit?unit={{ unit.unit_id }}">
                        	{{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                    	</a>
                    {% endif %} 
                    </br>                                      
                    <div align="center">
	                    {% for number in range(unit.difficulty) %} 
	      					<img src="assets/img/star_small.gif" height="10" width="10">
	      				{% endfor %}
      				</div> 
      				
                    {% elif unit.type == 'O' %}
                    <li>
                        <p class="top_content">
                            <span class="progress-empty"></span>
                            <a href="{{ unit.href }}"> {{ unit.title }} </a>
                            {% else %}
                            <li>
                <p class="top_content">
                    <span class="progress-empty"></span>
                    Error: unit type not recognized.
                    {% endif %}
                    {% if not unit.now_available and is_course_admin %}
                    (Private)
                    {% endif %}
                </p>
            </li>
            {% else %}
            {% if unit.type == 'A' %}
            <li>
                <p class="top_content">
                    <span class="progress-empty"></span>
                    {{ unit.title }}
                </p>
            </li>
            {% elif unit.type == 'U' %}
            <li>
                <p class="top_content">
                    <span class="progress-empty"></span>
                    {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
                <span style="padding-left: 20px; font-size: 12px; color: #5e94ff;">
                  {{ unit.release_date }}
                </span>
                </p>
            </li>
            {% elif unit.type == 'O' %}
            <li>
                <p class="top_content">
                    <span class="progress-empty"></span>
                    {{ unit.title }}
                </p>
            </li>
            {% else %}
            <li>
                <p class="top_content">
                    <span class="progress-empty"></span>
                    Error: unit type not recognized.
                </p>
            </li>
            {% endif %}
            {% endif %}

            {% endfor %}
        </ul>
    </div>

    <div class="gcb-article tab-content" style="width: 68%;" role="main">
        <div>
            <table>
                <tbody>
                <tr><td>
                    <div class="next-button" style="float:left; margin-top: 0px; margin-right: 40px;">
                    <a href="unitplaylist">
                        {% trans %} Start {% endtrans %}
                    </a>
                    </div>
                </td>
                    <td><div class="next-button" style="float:left; margin-top: 0px; margin-right: 40px;">
                        <a href="unitplaylist?resume=yes">
                            {% trans %} Resume {% endtrans %}
                        </a>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <tbody>
                    <tr><td><h2 class="product-headers" style="line-height: 25px">
                        {{course_info.course.blurb}}
                    </h2></td></tr>
                    <tr><td><h2 class="product-headers" style="line-height: 25px">
                        {{course_info.course.instructor_details | safe}}
                    </h2></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
