{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Forum {% endtrans %}
{% endblock subtitle %}

{% block header_content %}
{% endblock %}

{% block top_content %}

<div class="content-box">
    <div class="row-fluid">
        <div class="spam12">
            <iframe id="forum_embed"
                    src="javascript:void(0)"
                    scrolling="no"
                    title="Forum"
                    frameborder="0"
                    width="900"
                    height="700">
            </iframe>

            {% if course_info.course.forum_embed_url %}
            <script type="text/javascript">
                document.getElementById("forum_embed").src =
                "{{course_info.course.forum_embed_url}}"
                + "&showsearch=true&showpopout=true&showtabs=false"
                + "&parenturl=" + encodeURIComponent(window.location.href);
            </script>
            {% endif %}
        </div>
    </div>
</div>


<!-- base.after_top_content_ends -->

<!-- main section -->



<!-- base.after_main_content_ends -->

{% endblock %}

{% block main_content %}

{% endblock %}
