{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Homework {% endtrans %} {{ homework.title }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block header_content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link href="assets/css/mooc.css" rel="stylesheet" type="text/css">
<script>
//    $(document).ready(function(){
//        $( "#accordion" ).accordion({
//            collapsible: true,
//            heightStyle: "content"
//        });
//    });

    $(document).ready(function(){
        $( '.root ul' ).hide();
    });
</script>

<style>
    .badge {
        font-style: normal;
        margin-top: 5px;
    }

    h1, h2, h3 {
        font-size: 18px;
        /*display: block;*/
        /*background-color: #f49955;*/
        color: rgb(44, 80, 145);
        /*padding-left: 10px;*/
    }

    p {
        padding-top: 10px;
    }

    table {
        margin-bottom: 0;
    }

    #homework a:link,a:visited {
        color: #0000A0;
        background-color: #FFFFFF;
        text-decoration: underline;
        target-new: none;
    }

    #homework a:hover {
        color: #0000FF;
        background-color: #FFFFFF;
        text-decoration: underline;
        target-new: none;
    }

    /*a:link,a:visited {*/
        /*color: #0000A0;*/
        /*background-color: #FFFFFF;*/
        /*text-decoration: underline;*/
        /*target-new: none;*/
    /*}*/

    /*a:hover {*/
        /*color: #0000FF;*/
        /*background-color: #FFFFFF;*/
        /*text-decoration: underline;*/
        /*target-new: none;*/
    /*}*/
</style>
{% endblock %}

{% block main_content %}

<div class="content-box">
    <div class="row-fluid">
        <div class="span3">
            <h4 >
                Homework
            </h4>
            {% include 'homework_navbar.html' %}
        </div>
        <div class="span9" id="homework">
            {% if homework.now_available %}
            <h4>
                {{ gettext('%(title)s', title=homework.title) }}
            </h4>
            {% include homework.filename %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
