{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} Home Work {% endtrans %} {{ homework.index }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-main">
  <ul class="gcb-breadcrumb">
    <li><a href="course">{% trans %} Course {% endtrans %}</a></li>
    <li><a href="homework?unit={{ homework.index }}">
      {% trans %} Homework {% endtrans %}{{ homework.index }}</a></li>
  </ul>
  <div>
    <h1 class="class_header">
      {{ gettext('Homework %(id)s - %(title)s', id=homework.index, title=homework.title) }}
    </h1>
  </div>


  {% include 'homework_navbar.html' %}


  <div class="gcb-article tab-content" role="main">
      {% include homework.filename %}
  </div>
</div>

{% endblock %}
