<style>
    .navbar{
        margin-bottom: 30px;
    }
</style>

<div class="navbar navbar-mooc navbar-static-top">
    <div class="navbar-inner">
        <div class="container">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <!-- LOGO -->

        <span class="nav">
            <a href="{{course_info.institution.url}}">
                <img src="{{course_info.institution.logo.url}}"
                     alt="{{course_info.institution.logo.alt_text}}">
            </a>
        </span>

        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
                <li><a class="brand" id="homelink" href="home">{{course_info.base.nav_header}}</a></li>
                <li><a id="announcements" href="announcements">Announcements</a></li>
                {% if enrolled %}
                <li><a id="courselink" href="course">Course</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="course" href="course_playlist">
                        Lessons
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="playlist">Customize</a></li>
                        <li class="divider"></li>
                        {% for unit in units %}
                        {% if unit.type != 'A' %}
                        {% if units_lessons[unit.unit_id] == 'None' %}
                        <li><a class="dropdown-toggle" href="unit?unit={{unit.unit_id}}">{{ unit.title }}</a>
                            {% else %}
                        <li class="dropdown-submenu"><a class="dropdown-toggle" href="unit?unit={{unit.unit_id}}">{{ unit.title }}</a>
                            {% endif %}
                            {% for lu, les in units_lessons.iteritems() %}
                            {% if lu == unit.unit_id %}
                            <ul class="dropdown-menu">
                                {% for v in les %}
                                <li><a href="unit?unit={{unit.unit_id}}&lesson={{v.lesson_id}}">{{v.title}}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" id="homework" href="homework">Homework</a>
                </li>
                <li class="dropdown"><a id="forum" href="forum">Forum</a></li>
                {% endif %}
            </ul>


            <ul class="nav pull-right">
                {% if logoutUrl %}
                    {% if not enrolled %}
                        <li id="register"><a href="register">Register</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            {{email}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="profile" href="student/home">Profile</a></li>

                            {% if is_super_admin %}
                            <li>
                                <a href="/admin">
                                    <i class="icon-cog"></i>
                                    Admin
                                </a>
                            </li>
                            {% endif %}

                            {% if is_course_admin %}
                            <li>
                                <a href="dashboard">
                                    <i class="icon-cog"></i>
                                    Dashboard
                                </a>
                            </li>
                            {% endif %}

                            <li class="divider"></li>
                            <li id="logOutLink"><a href="{{ logoutUrl }}">Logout</a></li>
                        </ul>
                    </li>
                {% elif loginUrl %}
                    <li id="register"><a href="register">Register</a></li>
                    <ul class="nav pull-right">
                        <li id="loginLink"><a href="{{ loginUrl }}">Login</a></li>
                    </ul>
                {% endif %}
            </ul>
        </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>
