<div class="navbar navbar-mooc navbar-fixed-top" style="position: fixed">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <span class="nav"><a href="{{course_info.institution.url}}">
					<img src="{{course_info.institution.logo.url}}"
					alt="{{course_info.institution.logo.alt_text}}">
			</a> </span> <span class="brand">{{course_info.base.nav_header}}</span>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a id="homelink" href="preview">Home</a></li>
					<li><a id="announcements" href="announcements">Announcements</a></li>
					<li class="dropdown"><a class="dropdown-toggle" id="course" href="course">Course</a>
						<ul class="dropdown-menu">
							<li><a href="course">All</a></li>
							<li class="divider"></li>
                            {% for unit in units %}
                                {% if unit.type != 'A' %}
                                {% if units_lessons[unit.unit_id] == 'None' %}
                                <li><a class="dropdown-toggle" href="#">{{ unit.title }}</a>
                                {% else %}
                                <li class="dropdown-submenu"><a class="dropdown-toggle" href="unit?unit={{unit.unit_id}}">{{ unit.title }}</a>
                                {% endif %}
                                    {% for lu, les in units_lessons.iteritems() %}
                                        {% if lu == unit.unit_id %}
                                        <ul class="dropdown-menu">
                                            {% for v in les %}
                                            <li><a href="unit?unit={{unit.unit_id}}&lesson={{v.lesson_id}}">{{v.title}}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                {% endif %}
                            {% endfor %}
						</ul>
                    </li>
                    {% if logoutUrl %}
                    <li>
                        <a class="dropdown-toggle" id="homework" href="homework">Homework</a>
                    </li>
                    <li>
                        <a id="customize" href="#">Customize</a>
                    </li>
                    <li class="dropdown"><a id="forum" href="forum">Forum</a></li>
                    <li><a id="profile" href="student/home">Profile</a></li>
                    {% endif%}
                    {% if is_super_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %} {% if is_course_admin %}
                    <li><a href="dashboard">Dashboard</a></li>
                    {% endif %}
				</ul>
				{% if logoutUrl %}
				<ul class="nav pull-right">
					<li id="emailLink"><a href="student/home">{{email}}</a></li>
					<li id="logOutLink"><a href="{{ logoutUrl }}">Logout</a></li>
				</ul>
				{% elif loginUrl %}
				<ul class="nav pull-right">
					<li id="loginLink"><a href="{{ loginUrl }}">Login</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<br />
<br />
<br />
