{% extends 'base.html' %}

{% block subtitle %}
{% trans %} Customize {% endtrans %}
{% endblock subtitle %}

{% block header_content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>

$(document).ready(function(){
    $('#droppedItems').on('click', '.removeButton', function(){
        $(this).closest ('tr').remove ();
    });

    $( "#gcb-nav-y" ).accordion();

    $("#gcb-nav-y tr").draggable({
        appendTo: "body",
        helper: "clone"
    });

    $("#droppedItems").droppable({
        activeClass:"ui-state-default",
        hoverClass:"ui-state-hover",
        accept:":not(.ui-sortable-helper)",
        drop: function(event, ui) {
            var a = ui.draggable.find('a').text();
            var href = ui.draggable.find('a').attr('href');
            var tr = $('<tr></tr>').append($('<td></td>').append($('<a></a>').text(a).attr('href', href))).append($('<td></td>').append($('<a></a>').attr('type', 'button').addClass('removeButton').text('Remove')));

            $( "#droppedItems tbody" ).append(tr);
        }
    });

    $("#droppedItems tbody").sortable();
});

</script>
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="gcb-main">
    <div>
        <h3 class="class_header">
            Customize the lesson order
        </h3>
    </div>

    <div style="width: 25%;" class="gcb-nav" id="gcb-nav-y">
        {% for unit in units %}
        {% if unit.type != 'A' and unit.type != 'O' %}
            <h3>{{ unit.unit_id }}. {{ unit.title }}</h3>
            <div>
            {% if units_lessons[unit.unit_id] != 'None' %}
                <table class='datagrid'>
                    <tbody>
                    {% for v in units_lessons[unit.unit_id] %}
                    <tr><td><a href="unit?unit={{unit.unit_id}}&lesson={{v.lesson_id}}">{{ unit.unit_id }}.{{v.lesson_id}}. {{v.title}}</a></td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="gcb-article tab-content" style="width: 70%;" role="main">
        <div >
            <div id="submitForm">
                <form method="post">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type='button' value="Save" style='margin: 5px 20px 5px 5px;padding: 2px 10px 2px 10px' ><input type='button' value="Clear" style='margin: 5px 20px 5px 5px;padding: 2px 10px 2px 10px'></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div>
            <div id="droppedItems" style='height: 100%'>
                <form method="post">
                    <table class="tftable">
                        <thead>
                            <tr >
                                <td style="width: 100%">Drag and Drop lessons here</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}