{% extends 'base.html' %}

{% block subtitle %}
{% trans %} Customize {% endtrans %}
{% endblock subtitle %}

{% block header_content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<style>
    #gcb-nav-y ul li:hover {
        background-color: rgba(139, 148, 155, 0.17);
        font-weight: bold;
    }

    .root li { line-height: 40px; list-style: none; }
    .root li { padding-left: 0px; }
    .root li.branch { padding-left: 0; }
    .root a { text-decoration: none; color: inherit; }

    .bs-docs-sidenav {
        /*width: 228px;*/
        margin: 0px 0 0;
        padding: 0;
        background-color: #fcfcfc;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
        box-shadow: 0 1px 4px rgba(0,0,0,.065);
    }
    .bs-docs-sidenav > li > a {
        display: block;
        /*width: 190px \9;*/
        margin: 0 0 -1px;
        padding: 8px 10px;
        border: 1px solid #e5e5e5;
    }
    .bs-docs-sidenav > li:first-child > a {
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }
    .bs-docs-sidenav > li:last-child > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }
    .bs-docs-sidenav > .active > a {
        position: relative;
        z-index: 2;
        padding: 9px 15px;
        border: 0;
        text-shadow: 0 1px 0 rgba(0,0,0,.15);
        -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
        -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
        box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    }
        /* Chevrons */
    .bs-docs-sidenav .icon-chevron-right {
        float: right;
        margin-top: 2px;
        margin-right: -6px;
        opacity: .25;
    }
    .bs-docs-sidenav > li > a:hover {
        background-color: #f5f5f5;
    }

    .bs-docs-sidenav > li > ul > li > a:hover {
        background-color: #f5f5f5;
    }

    .bs-docs-sidenav a:hover .icon-chevron-right {
        opacity: .5;
    }
    .bs-docs-sidenav .active .icon-chevron-right,
    .bs-docs-sidenav .active a:hover .icon-chevron-right {
        background-image: url(assets/img/glyphicons-halflings-white.png);
        opacity: 1;
    }
    .bs-docs-sidenav.affix {
        top: 40px;
    }
    .bs-docs-sidenav.affix-bottom {
        position: absolute;
        top: auto;
        bottom: 270px;
    }
    .inner_a {
        display: block; margin: 0 0 -1px; padding-left: 20px; padding-right: 10px; padding-bottom: 10px; padding-top: 10px; border: 1px solid #e5e5e5;
    }

    .check_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        *margin-right: .3em;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url("assets/img/un_checked.png");
        background-repeat: no-repeat;
    }

    .checked_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        *margin-right: .3em;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url("assets/img/checked.png");
        background-repeat: no-repeat;
    }

    .green_arrow_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        *margin-right: .3em;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url("assets/img/green_arrow.png");
        background-repeat: no-repeat;
    }

    .grey_arrow_icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        *margin-right: .3em;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url("assets/img/grey_arrow.png");
        background-repeat: no-repeat;
    }
</style>

<script>

$(document).ready(function(){
    $('#droppedItems').on('click', '.icon-remove', function(){
        $(this).closest ('tr').remove ();
    });

    $( "#accordian" ).accordion();

    $("#.root li ul li a").draggable({
        appendTo: "body",
        helper: "clone"
    });

    $("#droppedItems").droppable({
        activeClass:"ui-state-default",
        hoverClass:"ui-state-hover",
        accept:":not(.ui-sortable-helper)",
        drop: function(event, ui) {
            var a = ui.draggable.text();
            var href = ui.draggable.attr('href');
//            var unit = ui.draggable.find('input[name="unit"]').attr('value');
//            var lesson = ui.draggable.find('input[name="lesson"]').attr('value');
            var unit = ui.draggable.attr('unit');
            var lesson = ui.draggable.attr('lesson');
            var lessonFind = $("#dropTable").find('[name="lesson"][value="'+ unit + '.' + lesson +'"]');

            var tr = $('<tr></tr>').append($('<td></td>').attr('style', "border-right: none").append($('<a></a>').text(a).attr('href', href))).
                    append($('<td></td>').attr('style', "border-left: none").append($('<a></a>').attr('type', 'button').addClass('icon-remove pull-right')).
                            append($('<input>').attr('type', 'hidden').attr('name', 'lesson').attr('value', unit + "." + lesson)));

            if (lessonFind.length == 0) {
                $( "#dropTable tbody" ).append(tr);
            }
        }
    });

    $("#droppedItems tbody").sortable();

    $('#submitForm').submit(function() {
        alert('submit form');
        var count = 0;
        $('#dropTable > tbody  > tr').each(function() {
            $(this).find('input[name="lesson"]').attr('name', 'lesson.' + count);
            count++;
        });

        $('#total').attr('value', count);
    });

    $('#save').click(function() {
        alert('submit');
        $('#submitForm').submit();
    });

    $('#clear').click(function() {
        $('#dropTable > tbody  > tr').each(function() {
            $(this).remove();
        });
    });

    $('#myCollapsible').collapse({
        toggle: false
    })
});

$(document).ready(function(){
    $( '.root ul' ).hide();
    $( 'li.branch > a:not(:first)' ).append( '<i class="icon-chevron-down pull-right" style="margin-top: 10px"></i>' );

    $( 'li.branch > a' ).click( function ( event ) {
        event.preventDefault();

        var leaves = $( this ).parent( 'li' ).children( 'ul' );

        if ( leaves.is( ':visible' ) ) {
            $( 'i.icon-chevron-up', this ).removeClass( 'icon-chevron-up' ).addClass( 'icon-chevron-down' );
            leaves.slideUp();
        }
        else {
            $( 'i.icon-chevron-down', this ).removeClass( 'icon-chevron-down' ).addClass( 'icon-chevron-up' );
            leaves.slideDown();
        }
    });

    $( '.inner_a' ).click( function ( event ) {
        event.preventDefault();
        var leaves = $( this ).parent( 'li' ).find( 'i' );
        if (leaves.hasClass('check_icon')) {
            leaves.removeClass( 'check_icon' ).addClass('checked_icon');
        } else {
            leaves.removeClass( 'checked_icon' ).addClass('check_icon');
        }

        if ($('.checked_icon').length > 0) {
            $('.grey_arrow_icon').removeClass('grey_arrow_icon').addClass('green_arrow_icon');
        } else {
            $('.green_arrow_icon').removeClass('green_arrow_icon').addClass('grey_arrow_icon');
        }

        $('.green_arrow_icon').click(function(event) {
            $('.checked_icon').each(function(index) {
                var a = $(this).parent('li').find('a').text();
                var href = $(this).parent('li').find('a').attr('href');
                var unit = $(this).parent('li').find('a').attr('unit');
                var lesson = $(this).parent('li').find('a').attr('lesson');

                var lessonFind = $("#dropTable").find('[name="lesson"][value="'+ unit + '.' + lesson +'"]');

                var tr = $('<tr></tr>').append($('<td></td>').attr('style', "border-right: none").append($('<a></a>').text(a).attr('href', href))).
                        append($('<td></td>').attr('style', "border-left: none").append($('<a></a>').attr('type', 'button').addClass('icon-remove pull-right')).
                                append($('<input>').attr('type', 'hidden').attr('name', 'lesson').attr('value', unit + "." + lesson)));

                if (lessonFind.length == 0) {
                    $( "#dropTable tbody" ).append(tr);
                }
            });
        });
    } );

    $('.green_arrow_icon').click(function(event) {
        $('.checked_icon').each(function(index) {
            var a = $(this).parent('li').find('a').text();
            var href = $(this).parent('li').find('a').attr('href');
            var unit = $(this).parent('li').find('a').attr('unit');
            var lesson = $(this).parent('li').find('a').attr('lesson');

            var lessonFind = $("#dropTable").find('[name="lesson"][value="'+ unit + '.' + lesson +'"]');

            var tr = $('<tr></tr>').append($('<td></td>').attr('style', "border-right: none").append($('<a></a>').text(a).attr('href', href))).
                    append($('<td></td>').attr('style', "border-left: none").append($('<a></a>').attr('type', 'button').addClass('icon-remove pull-right')).
                            append($('<input>').attr('type', 'hidden').attr('name', 'lesson').attr('value', unit + "." + lesson)));

            if (lessonFind.length == 0) {
                $( "#dropTable tbody" ).append(tr);
            }
        });
    });
});


</script>
{% endblock %}

{% block top_content %}
{% endblock %}

{% block main_content %}

<div class="row-fluid">
    <div class=span4>

    </div>
    <div class="span3 offset5 ">
        <input class="btn btn-link pull-right" type='button' id='clear' value="Clear" style='margin: 5px 10px 5px 5px;padding: 2px 10px 2px 10px'>
        <input class="btn btn-link pull-right" id='save' type="button" value="Save" style='margin: 5px 10px 5px 5px;padding: 2px 10px 2px 10px' >
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <ul class="bs-docs-sidenav root nav nav-list">
            <li class="branch"><i class="grey_arrow_icon pull-right" style="margin-top: 20px; margin-left: 15px;margin-right: 20px"></i><a href="#">Lessons</a></li>
            {% for unit in units %}
            {% if unit.type != 'A' and unit.type != 'O' %}
                <li class="branch"><a>{{ unit.unit_id }}. {{ unit.title }}</a>
                {% if units_lessons[unit.unit_id] != 'None' %}
                    <ul style="margin-left: 0px">
                        {% for v in units_lessons[unit.unit_id] %}
                        <li>
                            <i class="check_icon pull-left" style="margin-top: 20px; margin-left: 15px;margin-right: 10px"></i>
                            <a class="inner_a" unit="{{unit.unit_id}}" lesson={{v.lesson_id}} style="cursor: hand">
                                {{ unit.unit_id }}.{{v.lesson_id}}. {{v.title}}</a>
                            <input type='hidden' name='unit' value="{{unit.unit_id}}">
                            <input type='hidden' name='lesson' value="{{v.lesson_id}}">
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="span7" role="main">
        <form method="post" action="playlist" id=submitForm>
            <div>
                <div id="droppedItems" style='height: 100%'>
                    <table class="table-striped" id='dropTable' style='border-radius: 6px;box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1)'>
                        <thead>
                            <tr >
                                <td style="width: 100%; border-right: none">Drag and Drop lessons here</td>
                                <td style="border-left: none"></td>
                            </tr>
                        </thead>
                        <tbody>
                        {% if playList != 'None' %}
                        {% for p in playList %}
                            {% for v in units_lessons[p['unit']] %}
                                {% if v.lesson_id == p['lesson'] %}
                                    <tr>
                                        <td style="border-right: none"><a href="playlist">{{p['unit']}}.{{p['lesson']}} {{v.title}}</a></td>
                                        <td style="border-left: none">
                                            <a type='button' class='icon-remove pull-right'></a>
                                            <input type="hidden" value="{{p['unit']}}.{{p['lesson']}}" name="lesson">
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <input type="hidden" value='{{total}}' name='total' id='total'>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}