<div id="examples_outer">
<div id="slider_container_4">
	<div id="SliderName_4" class="SliderName_4">
		<img src="assets/img/credentials.jpg" width="900" height="500" alt="Demo2 first" title="Demo2 first" usemap="#img1map" />
		<div class="SliderName_2Description">Distributed Systems: <strong>Earn Credentials</strong></div>
		<img src="assets/img/learn_more.jpg" width="900" height="500" alt="Demo2 second" title="Demo2 second" />
		<iframe id="lesson_demo" style="position: relative; top: 29px; left:347px ;" width="485" height="311" src="http://www.youtube.com/embed/ae_DKNwK_ms?wmode=transparent" frameborder="0" allowfullscreen></iframe>
	
		<div class="SliderName_2Description">Distributed Systems: <strong>Welcome</strong></div>
		<img src="assets/img/connecttothecloud2.jpg" width="900" height="500" alt="Demo2 third" title="Demo2 third" />
		<div class="SliderName_2Description">Distributed Systems: <strong>Sign Up</strong></div>		
	</div>
	<div class="c"></div>
	<div id="SliderNameNavigation_2"></div>
	<div class="c"></div>
	<script type="text/javascript">
		effectsDemo2 = 'fade,fade,fade';
		var demoSlider_2 = Sliderman.slider({container: 'SliderName_4', width: 900, height: 500, effects: effectsDemo2,
			display: {
				autoplay: 0,
				first_slide: true,
				loading: {background: '#000000', opacity: 0.5, image: 'assets/img/loading.gif'},
				buttons: {hide: false, opacity: 1, prev: {className: 'SliderNamePrev_2', label: ''}, next: {className: 'SliderNameNext_2', label: ''}},
				description: {hide: true, background: '#000000', opacity: 0.4, height: 50, position: 'bottom'},
				navigation: {container: 'SliderNameNavigation_2', height:20, label: '<img src="assets/img/clear.gif" />'}
			}
		});
	</script>
	<div class="c"></div>
</div>
<div class="c"></div>
</div>