{% extends 'base.html' %}

{% block subtitle %}
  {% trans %} My Profile {% endtrans %}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="row-fluid marketing">
    <div class="span6">
      <h3>
        {% trans %} Student Profile {% endtrans %}
      </h3>
    </div>
    <div class="span6">
        <p class="pull-right" style="margin-top: 20px">
            {{ student.key().name() }}
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 marketing">
      {% if student %}
      <table style="border-collapse:collapse;" class="table table-striped">
        <colgroup>
          <col style="width: 10%">
          <col>
        </colgroup>
        <tr>
          <th align="left">{% trans %} Currently enrolled {% endtrans %}</th>
          <td>{{ student.is_enrolled }}</td>
        </tr>
        <tr>
          <th align="left">{% trans %} Date enrolled {% endtrans %}</th>
          <td>{{ student.enrolled_on }}</td>
        </tr>
        <tr>
          <th align="left">{% trans %} Email {% endtrans %}</th>
          <td>{{ student.key().name() }}</td>
        </tr>
        <tr>
          <th align="left">{% trans %} Name {% endtrans %}</th>
          <td>{{ student.name }}</td>
        </tr>

        <tr>
          <th align="left" colspan=2>{% trans %} Assessment scores {% endtrans %}</th>
        </tr>

        {% for assessment in score_list %}
          <tr>
            <th align="left">&nbsp;&nbsp;&nbsp;{{ assessment['title'] }}</th>
            <td>
              {% if 'score' in assessment and assessment['score'] is defined %}
                <span id="assessment-score-{{assessment['title']}}">{{ assessment['score'] }}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}

        {% if overall_score != None %}
          <tr>
            <th align="left">{% trans %} Overall course score {% endtrans %}</th>
            <td>
              <span id="assessment-score-overall">{{ overall_score }}</span>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <form action='student/editstudent' method='post'>
                    <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
                    <h2><label for="name">{% trans %} New Name {% endtrans %}</label></h2>
                    <fieldset style="border: none;">
                      <p><input name="name" id="name" type="text" size="40">
                        <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
                    </fieldset>

                    <p><button class="gcb-button" type="submit">
                      {% trans %} Save Changes {% endtrans %}
                    </button> &nbsp;&nbsp;&nbsp;
                      <a href="student/home" class="gcb-button" role="button">
                        {% trans %} Cancel {% endtrans %}
                      </a>
                    </p>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
              <p>{% trans %} To leave the course permanently, click on Unenroll {% endtrans %}</p>
              <p><a role="button" href="student/unenroll" class="btn btn-danger">
                {% trans %} Unenroll {% endtrans %}
              </a></p>
              {% else %}
              <p>Student profile not found ...</p>
              {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

