<div class="sp">
	<div class="tabs">
		<span class="ipad">Earn Credentials</span><span class="video">Welcome</span><span class="photo">Signup</span>
	</div>
	<div class="panel_container">
		<div class="panels">
			<div class="panel ipad">
				<!-- <div class="panel_content">
					<p>                                                                     </p>
					<p><iframe id="lesson_demo" style="position: relative; top: 700px; left:430px ;" width="485" height="311" src="http://www.youtube.com/embed/ae_DKNwK_ms?wmode=transparent" frameborder="0" allowfullscreen></iframe></p>
				</div> -->
			</div>
			<div class="panel video">
				<div class="panel_content">
					<p>                                                                     </p>
					<p><iframe id="lesson_demo" style="position: relative; top: 29px; left:347px ;" width="485" height="311" src="http://www.youtube.com/embed/ae_DKNwK_ms?wmode=transparent" frameborder="0" allowfullscreen></iframe></p>
				</div>
			</div>
			<div class="panel photo">
				<!-- <div class="panel_content">
					<p>                                                                     </p>
					<p><iframe id="lesson_demo" style="position: relative; top: 1400px; left:430px ;" width="485" height="311" src="http://www.youtube.com/embed/ae_DKNwK_ms?wmode=transparent" frameborder="0" allowfullscreen></iframe></p>
				</div> -->
			</div>
		</div>
	</div>
</div>