{% extends 'base_registration.html' %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="content-box">
    <div class="fluid-row">
        <div class="spam12">

      <h3>
        {% trans %} You have been unenrolled from {% endtrans %}
        {{course_info.course.title}}.
      </h3>
      <form action="preview" method='get'>
        <button class="btn" type="submit">
          {% trans %} OK {% endtrans %}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
