{% extends 'base.html' %}

{% block subtitle %}
{% trans %} Unit {% endtrans %} {{ unit.index }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block header_content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link href="assets/css/mooc.css" rel="stylesheet" type="text/css">

<script>
    $(document).ready(function(){
    //    $( '.root ul' ).hide();
    //    $( 'li.branch > a').append( '<i class="icon-chevron-down pull-right" style="margin-top: 10px"></i>' );

    //    $( '.icon-chevron-up, .icon-chevron-down' ).click( function ( event ) {
    //        event.preventDefault();
    //
    //        var leaves = $( this ).parent( 'a').parent('li').children( 'ul' );
    //
    //        if ( leaves.is( ':visible' ) ) {
    //            $( 'i.icon-chevron-up', this ).removeClass( 'icon-chevron-up' ).addClass( 'icon-chevron-down' );
    //            leaves.slideUp();
    //
    //        } else {
    //            $( 'i.icon-chevron-down', this ).removeClass( 'icon-chevron-down' ).addClass( 'icon-chevron-up' );
    //            leaves.slideDown();
    //        }
    //    });
$('.icon-list-alt').click(function(event){
        event.preventDefault();
        var val = $(this).siblings('input').attr('value');
        window.location = val;
    });

        {% if course_info.course.forum_embed_url %}
            document.getElementById("forum_embed").src =
                    "{{course_info.course.forum_embed_url}}"
                            + "&showsearch=true&showpopout=true&showtabs=false"
                            + "&parenturl=" + encodeURIComponent(window.location.href);
        {% endif %}
    });



</script>

{% endblock %}

{% block main_content %}

<div class="content-box" id="video">
    {% if is_read_write_course and is_course_admin %}
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-right">
                <a href="dashboard?action=edit_unit&key={{ unit_id }}" class="btn">
                    <i class="icon-pencil"></i> Edit unit
                </a>
                <a href="dashboard?action=edit_lesson&key={{ lesson_id }}" class="btn">
                    <i class="icon-pencil"></i> Edit lesson
                </a>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}

    <div class="row-fluid">
        {% if lessons %}
        <div class="span3 hidden-phone" id="lesson_nav">
            <h4>
                {{ gettext('Unit %(id)s - %(title)s', id=unit.index, title=unit.title) }}
            </h4>
            {% include 'lesson_navbar.html' %}
        </div>
        {% endif %}

        <div class="span9">
            {{course_info.unit.after_content_begins | safe}}
            <h4>
                {{ lesson.title }}
            </h4>
            {% if not lesson %}
            <div class="row-fluid">
                <div class="alert alert-error">
                    {% trans %} This unit does not contain any lessons. {% endtrans %}
                </div>
            </div>
            {% endif %}

            {% for lesson in lessons %}
            {% if lesson.lesson_id == lesson_id %}

            {% if lesson.now_available or is_course_admin %}

            {% if lesson.objectives %}
            <div class="row-fluid">
                <div class="span12">
                    {{ lesson.objectives | safe }}
                </div>
            </div>
            {% endif %}

            {% if lesson.video %}
            <div class="row-fluid">
                <div class="span12">
                    <p class="video-container">
                        <iframe class="youtube-player" title="{% trans %} YouTube Video Player {% endtrans %}"
                                type="text/html" frameborder="0" allowfullscreen
                                src="https://www.youtube.com/embed/{{ lesson.video }}?theme=light&feature=player_embedded&rel=0">
                        </iframe>
                    </p>
                </div>
            </div>
            {% endif %}


            <div class="row-fluid">
                <div class="span12">

                    <!-- Google+ -->
                    <div class="social-share hidden-phone">
                        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                        <!-- Place this tag after the last share tag. -->
                        <script type="text/javascript">
                            (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                        </script>
                    </div>

                    <!-- Facebook -->
                    <div class="social-share hidden-phone">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div>
                    </div>

                    <!-- Twitter -->
                    <div class="social-share hidden-phone">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-text="Cloud MOOC IU: {{ lesson.title }}" data-hashtags="CloudIU">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>

                    <!-- More Course Content -->
                    <div class="btn-group pull-right">
                        {% if lesson.notes %}
                        <a role="button" class="btn btn-large" href="{{ lesson.notes }}" target="_blank">
                            <i class="icon-list-alt"></i> {% trans %} Text Version {% endtrans %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>

            {% else %}
            <div class="row-fluid">
                <div class="span12">
                    <h1 class="lesson_title">
                        {{ lesson.title }}
                    </h1>

                    <br><br>

                    <div>
                        {% trans %} This lesson is not available. {% endtrans %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row-fluid">
                <ul class="pager">
                    {% if back_button_url %}
                    <li class="previous">
                        <a href="{{ back_button_url }}">&larr; Previous</a>
                    </li>
                    {% endif %}
                    {% if next_button_url %}
                    <li class="next">
                        <a href="{{ next_button_url }}">Next &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
            {{course_info.unit.before_content_ends | safe}}
        </div>
    </div>
</div>

{# <div class="content-box hidden-phone" id="activity">
    <div class="row-fluid">
        <div class="spam12">

            {{course_info.unit.after_content_begins | safe}}

            {% if not lesson %}
            <div class="row-fluid">
                <div class="alert alert-error">
                    {% trans %} This unit does not contain any lessons. {% endtrans %}
                </div>
            </div>
            {% endif %}

            {% for lesson in lessons %}
            {% if lesson.lesson_id == lesson_id %}

            {% if lesson.now_available or is_course_admin %}

            <div class="row-fluid">
                <div class="span12" id="activityContents">
                </div>
            </div>

            {% else %}
            <div class="row-fluid">
                <div class="span12">
                    <h1 class="lesson_title">
                        {{ lesson.title }}
                    </h1>

                    <br><br>

                    <div class="alert alert-error">
                        {% trans %} This lesson is not available. {% endtrans %}
                    </div>
                </div>
            </div>
            {% endif %}

            <hr>

            <div class="row-fluid">
                <ul class="pager">
                    {% if back_button_url %}
                    <li class="previous">
                        <a href="{{ back_button_url }}">&larr; Previous</a>
                    </li>
                    {% endif %}
                    {% if next_button_url %}
                    <li class="next">
                        <a href="{{ next_button_url }}">Next &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>  #}

<div class="content-box hidden-phone" id="forum">
    <div class="row-fluid">
        <div class="spam12">
            <iframe id="forum_embed"
                    src="javascript:void(0)"
                    scrolling="no"
                    title="Forum"
                    frameborder="0"
                    width="100%"
                    height="1000px">
            </iframe>

        </div>
    </div>
</div>
{% endblock %}

