#gcb-nav-y ul li:hover {
    background-color: rgba(139, 148, 155, 0.17);
    font-weight: bold;
}

.branch {
    display: block;
    line-height: 30px;
    list-style: none;
    border-top: 0;
    border-bottom: 1px solid #e5e5e5;
    border-right: 0;
    border-left: 0;
}

.unit_a {
    display: block;
    margin: 0 0 -1px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    border: 0;
}

.branch li:first-child {
    border-top: 1px solid #e5e5e5;
}

.bs-docs-sidenav {
    /*width: 228px;*/
    margin: 0px 0 0;
    padding: 0;
    /*font-size: 80%;*/
    background-color: #F1F1F1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav a {
    text-decoration: none;
    color: inherit;
}

.second_branch {
    display: block;
    line-height: 30px;
    list-style: none;
    border-top: 0;
    border-bottom: 1px solid #e5e5e5;
    border-right: 0;
    border-left: 0;
}

.branch li:last-child {
    border-bottom: 0;
}

.bs-docs-sidenav li {
    padding-left: 0px;
}

.bs-docs-sidenav > li > span {
    /*display: block;*/
    /*width: 190px \9;*/
    margin: 0 0 -1px;
    border: 0;
}

.bs-docs-sidenav > li > span > a {
    /*display: block;*/
    /*width: 190px \9;*/
    margin: 0 0 -1px;
    padding: 4px 10px;
    border: 0;
}

.bs-docs-sidenav > li > a {
    /*display: block;*/
    /*width: 190px \9;*/
    margin: 0 0 -1px;
    padding: 4px 10px;
    border: 0;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}

.bs-docs-sidenav > li > ul > li > a:hover {
    background-color: #f5f5f5;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(assets/img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}
.inner_a {
    display: block;
    margin: 0 0 -1px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    border: 0;
}


.check_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/un_checked.png");
    background-repeat: no-repeat;
}

.checked_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/checked.png");
    background-repeat: no-repeat;
}

.green_arrow_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/green_arrow.png");
    background-repeat: no-repeat;
}

.grey_arrow_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/grey_arrow.png");
    background-repeat: no-repeat;
}

