/* This matchs tabs displaying to thier associated radio inputs */

.page_content {z-index: 0; min-height:100$; height: 100$; padding-bottom: 50px;}

.page_content {z-index: 0; min-height:100$; height: 100$; padding-bottom: 50px;}
 
.sp h2 { font-size: 1.15em; margin: 0 0 .5em 0; }
.sp p { font-size: 1em; margin: 0 0 1em 0; }

/* layout */
.sp { width: 900px; position: relative; margin: 0 auto;  }

.sp .tabs { width: 1000px; margin: 0 auto; position: relative; display: none; }

.sp .tabs span {
	display: inline-block;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 9px 20px 9px 20px;
	margin: 0px;
	background-color: #fff;
	cursor: pointer;
	position: relative;
}

.sp .tabs span:first-child {

	border-left: 1px solid black;
	border-right: 1px solid black;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
}

.sp .tabs span:last-child {

	border-left: 1px solid black;
	border-right: 1px solid black;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
}

.sp .tabs span.selected {
	color: #999;
	border-bottom: 1px solid #fff;
}

.sp .panel_container {
	position: relative;
	border: 1px solid black;
	background-color: #fff;
	overflow: hidden;
	margin-top: -1px;
}

.sp .panel_container .panel .panel_content { padding: 15px 15px 5px 15px; }

.sp .tabs .ipad.selected { font-weight: bold; color: white; background-color: #0292d9; border-bottom: 1px solid #8dbc52; }
.sp .panels .ipad { background: url("../../assets/img/credentials.jpg") no-repeat 0px 0px; }
.sp .panels .ipad h2 { color: #fff; }
.sp .panels .ipad p { color: #284108; margin-right: 150px; }
.sp .panels .ipad a { color: #fff; }

.sp .tabs .video.selected { font-weight: bold; color: white; background-color: #0292d9; border-bottom: 1px solid #354e5c; }
.sp .panels .video { background: url("../../assets/img/learn_more.jpg") no-repeat 0px 0px; }
.sp .panels .video .panel_content { margin-right: 125px; }
.sp .panels .video .panel_content h2 { color: #000; }
.sp .panels .video .panel_content p { color: #fff; }
.sp .panels .video .panel_content a { color: #ffce6f; }

.sp .tabs .photo.selected { font-weight: bold; color: #fff; background-color: #0292d9; border-bottom: 1px solid #000; }
.sp .panels .photo { background: url("../../assets/img/connecttothecloud2.jpg") no-repeat 0px 0px; }
.sp .panels .photo .panel_content { margin-right: 150px; }
.sp .panels .photo h2 { color: #fff; }
.sp .panels .photo p { color: #fff; }
.sp .panels .photo a { color: #ffcc00; }
.sp .panels .thumbnail { border: 1px solid#fff; }



